[2016-04-27 21:20] fonfon opened #447 "Remove implicit magic from module __init__.py"
We have a lot of implicit and magic functionality happening around the modules `__init__.py` files. Lots of it is neither obvious for newcomers nor for me if I didn't look at the code for a while.

If #446 is merged, the remaining implicit variables are: `version, depends, service, managed_services, title, description, init, setup, diagnose, is_essential`.

It's hard to find out how and where such

[2016-04-28 12:57] phylophyl commented on #267
apps categorization or filter for the app list on the plinth home page:

First draft
NETWORK, DATA SYNC/SHARING, IM. VOICE, CONTENT PUBLICATIONS, EMAIL, GAME
data category needs a split to be more accurate (data sync, data sharing, links reader)
shorter term for content publication

| Apps     | Network | Data | IM | Voice | Publication | E-Mail   | Game |
| :------- | ----: |  ----: | ----: | ---

[2016-04-28 12:59] phylophyl commented on #267
GREEN LIGHTS
Adding a green light for active apps in the right plinth list would allow to avoid clicking on each app to know if they are activated or not

[2016-04-28 13:01] phylophyl commented on #267
APPS PAGE
definition + link to official app website
adding solid INSTALL and USE how-tos independant pages

[2016-04-28 19:16] clhamlin10 opened #448 "R Pi2"
OpenVPN: Got error 500 - "nothing you can do about it".

[2016-04-30 18:41] jvalleroy commented on #448
Could you please check for errors in /var/log/plinth/status.log? There should be a python exception at the end of the log file, after you get error 500.

[2016-05-01 17:58] jvalleroy opened #449 "Error when editing user"
I created a new user named tester2, then tried to add that user to the wiki group.
[code]

[2016-05-01 18:46] Diet-mar commented on #449
Not sure if my error is the same. Trying to edit an existing user I get "Bad username" (note, the real user-name was replaced by "removedusername"):
[2016-05-01 18:37:02,537] plinth.actions INFO     Executing command - ['sudo', '-n', '/usr/share/plinth/actions/ssh', 'get-keys', '--username', 'removedusername']
[2016-05-01 18:37:03,177] plinth.actions ERROR    Error executing command - ['sudo', '-n

[2016-05-05 09:47] fonfon commented on #115
It's already possible to return JSON for a while now.

[2016-05-05 09:47] #115 closed

[2016-05-05 09:50] fonfon commented on #370
Unfortunately the owncloud package is currently being removed from Debian. I'd say we should focus on searching/implementing alternatives and added the 'wontfix' label.

[2016-05-05 09:55] #370 closed

[2016-05-05 10:00] fonfon commented on #309
Because of Owncloud being removed from Debian I close this issue.

[2016-05-05 10:00] #309 closed

[2016-05-05 10:29] fonfon opened #451 "Improve 500 error page"
Until #276 is implemented (or also additionally), we could make the 500 error page more helpful.

There could be an additional page that shows the last X lines of `/var/log/plinth/status.log`. The error page could show a link to it (Error-pages themselves should be as simple as possible, and make it extremely unlikely that another error occurs on them).

Users reporting an issue can directly inclu

[2016-05-05 10:42] fonfon commented on #451
Hints for beginners picking up this issue:

- I'd add the page containing the last X lines of the log-file to the module `plinth/modules/system`. You'll have to create a new URL (urls.py), a template and a new view for the page.
- In the view, make sure to read the currently configured `status_log_file`:
[code]
- Then you add a link to this new page to the template `plinth/templates/500.html`.

[2016-05-07 15:50] jvalleroy commented on #336
Fixed in #452.

[2016-05-07 15:50] #336 closed

[2016-05-07 20:11] jvalleroy opened #454 "Time zone setting is missing from Date & Time page"
I just noticed this is missing in v0.9.1.

[2016-05-11 22:26] jvalleroy commented on #454
It's back after merging #446.

[2016-05-11 22:26] #454 closed

[2016-05-12 02:42] SunilMohanAdapa opened #456 "Drop PackageKit dependency"
We are currently facing a lot of problems with PackageKit:

- Each PackageKit operation would leak a file descriptor (no longer a major issue after new setup mechanism).
- We see problems with refreshing cache (perhaps more than apt would ever have).
- We see problems with network being offline after installing on Debian due to network manager not being used even for a single network connection. (

[2016-05-14 15:56] jvalleroy opened #457 "freedombox-manual.xml does not validate"
I skipped fetching the manual for v0.9.2, but we will need to correct these errors for the next release.
[code]

[2016-05-17 22:05] stueja opened #459 "Error 500 while setting up openvpn"
During the really long generation of the dh4096.pem for openvpn on a BeagleBone Black with `freedombox-unstable-free_2015-12-13_beaglebone-armhf.img`, after ~2 hours, I got the 500 error in the browser. The process itself is still running.
[code]
`tail -n <xx> /var/log/plinth/status.log`:

[code]

[2016-05-18 04:24] SunilMohanAdapa commented on #459
On 05/18/2016 03:35 AM, Jan wrote:

There is a known issue with PackageKit Glib that it leaks a file
descriptor every time it is used.  We were using it on every page load
earlier in 0.7.2 images.  Here are a couple of work arounds:

- Upgrade to Plinth 0.9.  It does not use PackageKit that often and
should not face the same issue.

- Start the generation process and navigate away from the OpenVPN

[2016-05-18 10:35] SunilMohanAdapa commented on #226
ownCloud has been removed and is no longer supported in FreedomBox.

[2016-05-18 10:35] #226 closed

[2016-05-18 13:01] SunilMohanAdapa commented on #457
Fixed by updating some wiki pages.  I have pulled the latest manual into Plinth.

[2016-05-18 13:01] #457 closed

[2016-05-18 13:22] stueja opened #462 "Error "packages not found None" while installing owncloud"
I just wanted to install owncloud via the web interface.
While doing so, I was trying to get plinth's version number. "man plinth" was not working, and plinth --help spawned a (new?) plinth process which I exited with ctrl-c.
The owncloud setup ran forever, obviously without doing anything.
I used the web interface to reboot and went back to owncloud installation.
Row "owncloud" only shows "ownclo

[2016-05-18 13:33] SunilMohanAdapa commented on #462
Unfortunately, ownCloud has been removed from Debian and FreedomBox project can't manage it.  So, we have decided to look for alternatives in FreedomBox instead.  After merge of PR #458, Plinth will now not show ownCloud menu item for new users and show warning to earlier users that they will have to manage ownCloud manually or migrate.

[2016-05-18 13:33] #462 closed

[2016-05-18 13:35] SunilMohanAdapa commented on #462
I have closed this as the above PR will take care of addressing the error.  We are yet to make release with that fix and there is not much we can do. Please feel free to reopen the issue if you wish to discuss anything further.

[2016-05-18 15:09] stueja commented on #462
Oh, that's a pity. However, searching the web, I found that owncloud was removed due to security issues. So it seems indeed better to leave it out of freedombox. Leave that issue here closed.
I am sure you know that, but maybe there is an alternative here: https://prism-break.org/en/all/#file-storage-sync

[2016-05-18 17:38] stueja opened #463 "Cannot install wiki"
Stops with `error during package install: The following packages have unmet dependencies: gcc: Depends: cpp (>= 4:5.3.1-2) but it is not going to be installed Depends: gcc-5 (>= 5.3.1-17~) but it is not going to be installed None `

[2016-05-18 17:43] stueja opened #464 "Privoxy not starting"
Privoxy installs correctly, but later the service cannot be started. Diagnosis shows that binding to ports 8118 (ipv4/v6) doesn't work.
[code]
[code]
[code]

[2016-05-22 07:04] stueja opened #465 "Plinth "not redirecting properly" via SSH tunnel"
When abroad, I often use an SSH tunnel to get back home (IT wise :) ).
I configured local forwarding from localhost:5980 to freedombox:80 and localhost:59443 to freedombox:443.
Calling https://localhost:59443 end up in a redirection to https://localhost:59442/plinth and then in a browser error message
[code]
Is there a way to come around that?

[2016-05-22 13:11] SunilMohanAdapa commented on #465
We had to work around for a bug in mod-gnutls and added exact port based check in /etc/apache2/sites-available/plinth-ssl.conf.  This is most likely the cause of the problem. We have already removed the work around for the next version of Plinth as the problem has been fixed in mod-gnutls.  You can manually update your configuration to look like this (change needed on the third line):

[code]
Let

[2016-05-22 16:58] jvalleroy opened #466 "Possible dynamicdns issue?"
I'm not really sure if this is an issue, but I thought I should check just in case (at least will help me to understand the script better).

I'm using Dynamic DNS and it seems to be working ok. But if I run the update manually, I get some errors:
[code]

With command echo enabled:
[code]

[2016-05-22 17:35] SunilMohanAdapa commented on #463
On 05/18/2016 11:08 PM, Jan wrote:

Could you please recheck if the problem is resolved.  It seems to be a
temporary issue with state of packages in Debian unstable.

--
Sunil

[2016-05-23 05:41] stueja commented on #465
Thank you. Unfortunately, this did not work yet. It is still redirecting.
Maybe it is because the URL is https://host/path:port?
My current plinth-ssl.conf:
[code]

[2016-05-23 05:45] stueja commented on #463
As I am not at home and the redirection does not work yet, I ran a manual `apt-get update` via SSH, and got the below mentioned error. Also, I wanted to install nano, which got me strange output. Could this be connected to the wiki installation issue?
[code]
[code]

[2016-05-23 17:13] SunilMohanAdapa commented on #463
This looks like a problem that got introduced during an automatic upgrade.  This is not related to wiki install.  From time to time Debian unstable breaks like this and you seem to have caught it during two bad times.

Please try `apt-get -f install`.  After that you can try `apt-get dist-upgrade`. Then try installing wiki from Plinth interface.

[2016-05-24 12:44] stueja commented on #463
Well, I think the output does not look too promising. Any additional ideas?
[code]
[code]
[code]

[2016-05-24 14:36] jvalleroy commented on #464
I can confirm this issue.

The default privoxy config from Debian has 2 listen-address lines now:
[code]

Our setup script changes the 1st line to [::]:8118, which overlaps the 2nd line. We can either have the setup script remove the extra line, or use debconf preseeding to set privoxy/listen-address.

[2016-05-27 02:12] #464 closed

[2016-05-27 03:03] SunilMohanAdapa commented on #464
On 05/24/2016 08:06 PM, James Valleroy wrote:

This should now fixed with #467.

--
Sunil

[2016-05-27 22:53] jvalleroy opened #468 "Firewall page shows confusing status for Software Upgrades"
I have automatic software upgrades enabled (default setting). The Firewall page shows Software Upgrades as "Enabled", but under that it has auto-upgrades as "Blocked". Maybe add an option to skip the Permitted/Blocked display for this kind of service (not listening on a port).

[2016-05-27 23:02] jvalleroy opened #469 "Privoxy diagnostics seem to not work correctly"
I don't have Privoxy installed, but a number of its Diagnostic tests are marked "passed" anyway:
- Access URL https://www.debian.org
- Access https://debian.org/ with proxy http://127.0.0.1:8118/ on tcp4
- Access https://debian.org/ with proxy http://10.0.2.15:8118/ on tcp4
- Access https://debian.org/ with proxy http://localhost:8118/ on tcp4
- Access https://debian.org/ with proxy http://freedom

[2016-05-27 23:28] jvalleroy opened #470 "XMPP page does not show domain (although Config does)"
I know there are similar issues open for the domain name, but this one seems slightly different.

In this case, the domain name is shown correctly on the Configuration page, but does not show up on the XMPP page. It looks like socket.getfqdn() returns the correct value, but it's somehow not linked into the XMPP template.

[2016-05-27 23:37] jvalleroy commented on #208
This is fixed in the daily image. We can still look for an alternative to using /etc/hosts though (#434 to track that).

[2016-05-27 23:37] #208 closed

[2016-05-27 23:41] jvalleroy commented on #262
The domainname field displays correctly now, but XMPP page does not. I opened #470 to track the remaining issue.

[2016-05-27 23:41] #262 closed

[2016-05-27 23:42] jvalleroy commented on #301
Editing the domain name now works. But we still have an issue when removing, it leaves "freedombox." in /etc/hosts.

[2016-05-27 23:49] jvalleroy opened #471 "shaarli: Corrupted Content Error"
After installing shaarli, when I visit the /shaarli page, the browser shows "Corrupted Content Error: The page you are trying to view cannot be shown because an error in the data transmission was detected."

[2016-05-28 01:19] jvalleroy opened #472 "Tor diagnostics issues"
Tor diagnostics show failures for ORPort and obfs3, obfs4 ports:
Listening on tcp4 port 36539 	failed
Listening on tcp6 port 36539 	failed
Listening on tcp4 port 34608 	failed
Listening on tcp4 port 40615 	failed

ORPort is listening on tcp4, while obfs3/obfs4 are listening on tcp6:
[code]

Note that we have ORPort configured to "auto", and we don't specify the ports for obfs3/obfs4.

[2016-05-28 11:38] jvalleroy opened #473 "plinth --setup could take a list of modules to setup"
```plinth --setup [module1...]``` would setup both the essential modules, and the non-essential modules listed.

[2016-05-28 11:41] jvalleroy commented on #473
Some examples where this might be useful:
- FreedomBox blends like Danube edition could specify additional modules to be setup by default.
- We could provide tasksel tasks that setup some module combinations to achieve certain tasks.

[2016-05-28 13:50] SunilMohanAdapa commented on #473
Yes, we could do this.  When a list of modules is given, setup only those modules and when the list is not given, setup all essential modules.

[2016-06-03 09:17] SunilMohanAdapa commented on #447
I don't believe this falls into 'Explicit is better than implicit'.

Currently, all of the above functions are acting like an API for a application. #446 devolves this API.  Earlier there is a consistent way in which one can query whether an application is enabled (or if it is running, or a way to enable/disable). This could have been used in a dashboard.  Now there isn't.  Removing these existing

[2016-06-03 17:20] SunilMohanAdapa commented on #436
This is a one time dialog that will happen with due to new setup mechanism being implemented. Clicking on install will do nothing and work as usual.  We didn't want to write elaborate code just to avoid this.  Also new images will not see this.  I am closing this as we don't want to deal with this.  Please feel free to reopen for more discussion.

[2016-06-03 17:20] #436 closed

[2016-06-03 21:48] jvalleroy commented on #469
This is fixed in #476.

[2016-06-03 21:48] #469 closed

[2016-06-03 23:18] jvalleroy commented on #470
Fixed in #478.

[2016-06-03 23:18] #470 closed

[2016-06-04 04:46] SunilMohanAdapa commented on #444
@mray I have investigated more about the problem you are facing and found the following:

- The script is falsely reporting success even when it failed.  This is happening because the provider dyndns.strato.com is reporting success in HTTP response (200 OK).  But there is a custom error they are sending in the response body that a generic script can't understand.  Due to this, when a request is se

[2016-06-04 08:20] mray commented on #444
As you mentioned there problem probably was the DynDNS app, not FBX core. I got in touch with the DynDNS author and he advised me to do this:
`/usr/share/plinth/actions/dynamicdns clean`

After that I needed to re-enter all information into plinth and.
I checked `curl ipinfo.io` and `host freedombox.mydomain.de` and the IPs finally matched!
Now my box is reachable again through strato.de DynDNS se

[2016-06-04 15:01] #248 closed

[2016-06-04 16:40] SunilMohanAdapa commented on #448
This seems to be duplicate of #459 .  I have provided workaround to the problem.  The core issue will be fixed with #456 .

[2016-06-04 16:40] #448 closed

[2016-06-04 18:07] SunilMohanAdapa commented on #463
We are seeing some occasional and rare corruptions happing the file system which we are following up [here](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=826345).

@stueja , I recommend you start with a fresh image to get around the problem.  Otherwise, simple delete all the files in /var/lib/apt/lists/ and do a fressh `apt-get update` and `apt-get dist-upgrade`.

I am closing this bug as we w

[2016-06-04 18:07] #463 closed

[2016-06-04 19:00] SunilMohanAdapa commented on #465
You don't need a port forwarding to port 80.  Just use the 443 as that is sufficient.  I just tried on a local VM doing a port forward from `localhost:4443' to 'freedombox:443`.  I had `RewriteCond %{HTTPS} !=on` in my plinth-ssl.conf.  Things words fine

`ssh -N root@freedombox-vm1 -L 4443:freedombox-vm1:443`
or
`ssh -N root@freedombox-vm1 -L 4443:localhost:443`

My guess it this:
You are still u

[2016-06-04 20:27] Diet-mar opened #485 "Install recommended packages together with ikiwiki"
I suggest to install together with ikiwiki the following recommends:
- libimage-magick-perl: needed for the img plugin, very common for wikis
- xapian-omega, libsearch-xapian-perl, libdigest-sha-perl and libhtml-scrubber-perl: needed for the search plugin

[2016-06-04 20:29] Diet-mar opened #486 "Cannot install letsencrypt"
Cannot install letsencrypt in plinth 0.9.2.
Error returned is "Fehler beim Installieren der Anwendung: packages not found None ".
Even after installing certbot, which provides letsencrypt (v) via apt.
Note letsencrypt was renamed to certbot. Maybe some correlation?

[2016-06-04 20:54] jvalleroy opened #487 "Improve ikiwiki description"
It should at least say what ikiwiki is, or what it is useful for.

[2016-06-05 03:12] SunilMohanAdapa commented on #415
This is now closed with the merge of pull request #446.

[2016-06-05 03:12] #415 closed

[2016-06-05 07:31] stueja commented on #465
Thanks for your reply.
The output is
[code]
Due to the fact that even apt-get update fails (https://github.com/freedombox/Plinth/issues/463), I cannot update `libapache2-mod-gnutls`. i am not at home at the moment and won't be for the next days, so I'll pick up your suggestion of re-imaging the SD card later.

[2016-06-05 07:37] stueja commented on #463
Thank you for your reply.
I cleared all the files, nevertheless `apt-get update` fails:
[code]
`cat /var/lib/apt/lists/httpredir.debian.org_debian_dists_sid_main_binary-armhf_Packages | less` outputs a lot of `^@`

[2016-06-05 15:34] jvalleroy opened #488 "Add basic access control options for radicale"
Allow selection between "authenticated", "owner_only", or "owner_write" for rights type.

[2016-06-05 20:08] jvalleroy opened #489 "Firewall page UI suggestions"
1. Hide modules that have not completed setup.
2. Make the list collapsible so that port names are hidden by default.

[2016-06-05 20:24] #468 closed

[2016-06-06 07:46] steglicd commented on #444
@mray as discussed via mail:
seems like your dyndns config was in faulty state. If you manage to reproduce this and give advice on how to enter this faulty state we can investigate the root cause.

[2016-06-06 18:12] Diet-mar commented on #486
I am not sure if this is related:

The symptoms:
Accessing to the ikiwiki is impossible (except by using the privacy mode of Iceweasel).
Access to http is automatically redirected to https because of "Diese Website verwendet HTTP Strict Transport Security (HSTS), um mitzuteilen, dass Iceweasel nur über gesicherte Verbindungen mit ihr kommunizieren soll.". I guess this is a new setting in apache th

[2016-06-06 20:54] jvalleroy commented on #486
We have HSTS enabled here:
https://sources.debian.net/src/freedombox-setup/0.9.1/data/etc/apache2/conf-available/freedombox.conf/
The problem is if you are using a Let's Encrypt certificate for a certain domain, then you switch to a self-signed certificate and access it through the same domain. If the browser saw the LE cert before, it will not accept the self-signed cert (or even let you add an e

[2016-06-06 22:14] jvalleroy commented on #222
Fixed in #484.

[2016-06-06 22:14] #222 closed

[2016-06-06 22:14] jvalleroy commented on #290
Fixed in #484.

[2016-06-06 22:14] #290 closed

[2016-06-07 09:06] mray commented on #444
As there might have been other errors involved, too and my investigation skills are really bad I'll go ahead an just close the issue for now.

[2016-06-07 09:06] #444 closed

[2016-06-07 11:44] #441 closed

[2016-06-07 14:37] SunilMohanAdapa opened #491 "Plinth should not allow creation of a "plinth" user"
this also needs to be indicated along with other username restrictions.
this also needs to apply to renaming existing users.

Reported by: @mray

[2016-06-07 18:13] mray commented on #491
nitpick: the title misses "user" probably making a search for user related bugs harder.

[2016-06-07 18:15] SunilMohanAdapa commented on #491
I've updated the subject line.  I must have missed it during copy/paste.  Thanks for correction.

[2016-06-07 21:56] jvalleroy commented on #408
Fixed in #477.

[2016-06-07 21:56] #408 closed

[2016-06-08 17:24] SunilMohanAdapa commented on #447
@fonfon , does the plan to convert Apps into classes solve the readability problem? Are you interested in picking this up?

[2016-06-08 22:34] fonfon commented on #447
Yes this sounds like a good idea, and I would like to pick it up.

It can take a while until I find some time, so if somebody wants to implement this earlier please let me know, or just assign this issue to yourself too.

[2016-06-09 19:37] Diet-mar commented on #486
Thanks jvallery, I eventually managed to clear the browser settings.

Also, this bug can be closed as with the recent update 0.8.0-1 in stretch letsencrypt is working.

[2016-06-09 20:25] #486 closed

[2016-06-09 20:28] jvalleroy commented on #119
Using ruamel.yaml to do a round trip load + dump of ejabberd.yml, I found that it makes some changes that ejabberd can't handle (like removing " around strings). I think we will have to override some function as shown in https://stackoverflow.com/questions/27947653/force-quotes-in-yaml-dump-python.

[2016-06-09 22:57] mray opened #494 "Certificate unusable"
It dawned on me that some certificate issues might be the reason Thunderbird works fine, but DavDroid on my phone does not work.
So I researched how to get that cert into my phone. I exported the self-signed certificate vie firefox from the website into a "localhost" file and copied it onto the SD-card of my phone. That didn't help, and as far as I can tell it didn't even work since it does not ge

[2016-06-10 07:27] mray opened #495 "Certificates (Let's Encrypt) fail"
Upon pressing the "Obtain" button on Let's Encrypt I get the following error:

The second click interestingly results in a slightly different error not mentioning email:

Am I supposed to provide the port through which my box is made accessible?
If so that would need some indication somewhere.

[2016-06-10 07:37] mray opened #496 "Eventual DynDNS fail"
The "Status" tab on the DynDNS tab indicates no successful updates:

Behind NAT. This means that Dynamic DNS service will poll the "IP Check URL" for changes (the "IP Check URL" entry is needed for this, otherwise IP changes will not be detected). In case the WAN IP changes, it may take up to 5 minutes until your DNS entry is updated.
**Last update**
no successful update recorded since last config

[2016-06-10 07:39] SunilMohanAdapa commented on #495
The first message contains an extra warning because it is the first time letsencrypt invoked.  This is the time anonymous registration happens.  Later, the message disappears because registration is already done.

It looks like freedombox.domain.de is not reachable from outside and that is the problem.  Please ensure that Dynamic DNS or whatever other mechanism is being used for freedombox.domain.

[2016-06-10 07:41] mray commented on #494
After feedback from @SunilMohanAdapa I know that there practically is NO certificate in place to access freedombox from ouside. Maybe it is a lack of understanding, but to me this seems like setting things up for failure. How can we see ourselves as a secure "cloud" replacement and make https mandatory, but the key services will fail due to missing certs?

I think there needs *at least* to be a me

[2016-06-10 07:42] SunilMohanAdapa commented on #496
Is your FreedomBox behind a router?  If so, please forward port 80 and 443 from the router to FreedomBox.

[2016-06-10 07:47] mray commented on #496
It is behind a router (of course ;) )and I forward port 443. I do *not* forward port port 80 since I assumed that I want exclusively use https all the time anyway.

If I need to forward port 80, how would lets encrypt know what port to use from the outside? How does it even know where current port 443 is forwarded from? I never provided that info - maybe that is the problem?

[2016-06-10 07:48] SunilMohanAdapa commented on #494
On 06/10/2016 01:11 PM, mray wrote:

We should certainly improve the UI to indicate to the user that
certificate needs to be obtained.

To indicate right next to the domain in DynDNS app and in FreedomBox
config seems like neat idea.  We can also explore other UI improvements
to fix the situation.

--
Sunil

[2016-06-10 07:51] SunilMohanAdapa commented on #496
On 06/10/2016 01:17 PM, mray wrote:

Let's encrypt requires port 80 to obtain a certificate (and to keep
renewing it).

Lets encrypt will try a URL like
http://freedombox.domain.de/.well-known/...   This means port 80.  Which
will land on port 80 of the router.  That if redirected to port 80 of
FreedomBox, will succeed in obtaining the certificate.

I suppose we also need to explain in the UI to o

[2016-06-10 09:11] mray commented on #496
even after generating a Let's Encrypt  cert and forwarding port 80 and 443 directly to the freedombox (and a reboot) DynDNS still indicates no successful updates.

I did wait longer than 5 minutes and I did provide the IP check url http://myip.datasystems24.de

[2016-06-10 09:13] mray commented on #494
I now seem to have successfully obtained a certificate through the let's Encrypt app, but still have no luck detecting any CalDAV or CardDAV services through DavDroid.

[2016-06-10 09:17] steglicd commented on #496
what happens if you enter your update URL into your Browser?
What happens if you run: `bash -x /usr/share/plinth/actions/dynamicdns update` ?
Do you have a file called `/etc/cron.d/ez-ipupdate` ?

[2016-06-10 09:30] mray commented on #496
I can read my current IP. (same as FreedomBox seems to have)

A whole lot of stuff scrolls by but the status message of the DynDNS remains.

`cat /etc/cron.d/ez-ipupdate` returned `*/5 * * * * root /usr/share/plinth/actions/dynamicdns update` that means it exists I think.

[2016-06-10 09:33] steglicd commented on #496
Did you enter the " update URL" into your browser? Or the "IP check url"? Can you send me the output of the `bash -x /usr/share/plinth/actions/dynamicdns update` command (remove passwords please)?

[2016-06-10 10:10] mray commented on #496
Sorry I checked the wrong one. The update url asks for credentials, then shows "notfqdn" and my IP.

[code]

[2016-06-10 10:54] steglicd commented on #496
Please run this as root user.

[2016-06-10 15:11] mray commented on #496
[code]

[2016-06-10 17:37] mray commented on #496
[code]

[2016-06-10 20:22] steglicd commented on #496
Looks good. But still no update success message is displayed?

[2016-06-10 21:29] mray commented on #496
no.
![image](https://cloud.githubusercontent.com/assets/164785/15979227/218eb214-2f63-11e6-903a-de59d401df4d.png)

[2016-06-10 21:52] steglicd commented on #496
Ah... ok... no Update is needed in your case. For this reason no update is done. Change your WAN IP and try again  please.

[2016-06-11 13:23] mray commented on #496
I think this can be done by my ISP, no idea how I can do that.

If I don't need an update does that mean everything is working fine and DynDNS **isn't** a reason why radicale won't work correctly? I guess my issue is that the status information isn't informative to me as a user. I have no clue about what equates good, bad or good enough information.
Having a three level indicator: ON!, off, error

[2016-06-11 13:25] mray commented on #496
I found a way to change my IP from the interface from my router. Now the Status page says

So what was the problem?

[2016-06-11 21:06] jvalleroy commented on #459
Fixed in #493.

[2016-06-11 21:06] #459 closed

[2016-06-11 21:06] jvalleroy commented on #456
Fixed in #493.

[2016-06-11 21:06] #456 closed

[2016-06-11 21:06] jvalleroy commented on #445
Fixed in #493.

[2016-06-11 21:06] #445 closed

[2016-06-11 21:06] jvalleroy commented on #381
Fixed in #493.

[2016-06-11 21:06] #381 closed

[2016-06-11 21:06] jvalleroy commented on #183
Fixed in #493.

[2016-06-11 21:06] #183 closed

[2016-06-11 21:07] jvalleroy commented on #139
Fixed in #493.

[2016-06-11 21:07] #139 closed

[2016-06-11 21:07] jvalleroy commented on #136
Fixed in #493.

[2016-06-11 21:07] #136 closed

[2016-06-12 11:02] SunilMohanAdapa commented on #432
@MithridatesEupator , ping.

[2016-06-12 12:41] mray opened #498 "Narrow container layout"
Having a 100% wide layout breaks at large screens as you can see in ym screenshot
Boostrap offers to use `class="container"` instead of `class="container-fluid"` in [its documentation](https://getbootstrap.com/css/#overview-container). That onyl addresses the body, the header would need to shrink accordingly.

**this is no fun to read:**
![toolong](https://cloud.githubusercontent.com/assets/164785

[2016-06-12 22:07] jvalleroy opened #500 ""Can't contact LDAP server" error during users setup"
When building an image with freedom-maker, using (unreleased) freedombox-setup 0.9.2 and plinth 0.9.3, there are errors during users module setup:
[code]
This prevents Plinth from adding users to LDAP.

[2016-06-13 07:48] steglicd commented on #496
I think there was no problem at all. The DynDNS module monitors your current IP address and compares the result with the currently registered DNS record. If the record does not match the current IP the Module will update the DNS record.

In your case the record was already up to date. So no need to do an update. And because there was no update done, there was not successful last update recorded.

[2016-06-14 07:57] mray commented on #496
I managed to break things again but don't know how. I suspect it is the mapping of port 80 and 443 locally to 80 and 443 globally. Here is what I did:

* changed port mapping
* discovered that https isn't working anymore
* revoked my Let's Encrypt cert and *tried* to re-obtain but failed
* renewed my IP
* ran `bash -x /usr/share/plinth/actions/dynamicdns update`
* compared IPs of `curl ipinfo.io`

[2016-06-14 08:01] steglicd commented on #496
After IP renewal it should not be needed to run `bash -x /usr/share/plinth/actions/dynamicdns update`, just wait for up to 5 minutes.

What did `bash -x /usr/share/plinth/actions/dynamicdns update` printed out?

[2016-06-14 11:34] jvalleroy commented on #500
This error was due to another LDAP server running on the host system.

[2016-06-14 11:34] #500 closed

[2016-06-14 20:03] steglicd commented on #496
I added a pull request to improve status message in case of no update is needed. So the "no update recorded" message should disappear in case of everything is fine and no update was done due to this fact.

[2016-06-15 07:30] mray commented on #496
I noticed that "Use HTTP basic authentication" wasn't marked, when it is supposed to be.
I fixed that and renewed my IP. After that I rebooted.
Now `host freedombox.domain.de` and curl `ipinfo.io` show the same ip again and the DynDNS Status says good.
But whenever I try to re-obtain my Let's Encrypt certificate it complains:

[code]

I also can't seem to reach https://freedombox.domain.de/radical

[2016-06-15 07:39] steglicd commented on #496
I don't think this is dynDNS related. How do you try to reach `https://freedombox.domain.de/radicale`? From a PC within your LAN? Try from another Internet access (like mobile phone). Because some routers does not support NAT Hair pinning (access portforward from LAN side). Maybe you are to fast and the DNS entry is not timed out yet? So Let's encrypt still have a old DNS entry?

[2016-06-15 11:05] mray commented on #496
I tried from the same LAN but also over a VPN connection.

I don't know what access port forward from LAN side means exactly. But maybe having two routers does not work like I expect it:
I have a "FritzBox" from my ISP that is set up with an 'exposed host'  that is an "OpenWRT" router.
My guess is that it should work since port forwarding seems to have worked in the past. I was able to get a Let's

[2016-06-15 11:26] steglicd commented on #496
So you have a freedombox behind a OpenWRT box behind a Fritzbox? Wow. Maybe a more simple setup would be nice for debugging.

So if you can reach http://<LAN IP of your freedom box> (from your LAN) but not http://freedombox.domain.de from the outside world it must be related to one of your routers (portforwarding).

And if this is the case, Let's encrypt will not work.

[2016-06-15 14:53] mray commented on #496
Well I don't trust the FritzBox to build my local lan, but need it since it contains the cable modem. so set up an openwrt instead that gets "everything" routed to it without firewall. After that it should be just like behind any other router.

Do you use FreedomBox as router?

[2016-06-15 15:07] steglicd commented on #496
I also don't trust Fritzboxes ;)

Can't you just operate the Fritzbox a s a simple modem? I just want to kick at least one possible cause for the error out of the NAT chain (like: Fredombox behind NAT behind NAT).

Because one of this boxes must be blocking the incoming requests (as I assume you can reach Freedombox from LAN but not from WAN).

[2016-06-15 17:25] SunilMohanAdapa commented on #496
Got automatically closed due to merged pull request from @steglicd .  Reopening due to ongoing conversation.  Please close later.

[2016-06-15 17:40] mray commented on #496
"Exposed host" is what comes closest as far as I know. If it is possible to use a FritzBox *only* as modem that would be great.

I can reach it via the local 192.168.x.x IP, but the domain name does not resolve locally either.
What boggles me is that when I forwarded to port 443 from a strange port like 28963 least https://domain was somewhat reachable. But back when that worked i didn't even care

[2016-06-15 18:20] steglicd commented on #496
Ok, I think we need to do a step back, take a deep breath and investigate from the beginning.

1. could you please connect the Freedombox directly to the Fritzbox
2. freedombox should obtain a IP via DHCP
3. set Fritzbox exposed host to this LAN IP (obtained by freedombox)
4. send me a mail (or IRC Message) and tell me your Internet IP, I will check from the outside world which services are availa

[2016-06-16 21:30] mray commented on #496
Your hints were very helpful!

I connected the FBX directly to my Fritzbox and could instantly start generating the Let's Encrypt certificate. That is why I found out that the exposed host IP wasn't valid from FritzBoxes view; it is running its own DHCP server. I still don't know how this is possible but both my routers run DHCP and assign IPs to each other.
I THEN found out that by typing (instea

[2016-06-16 21:33] mray commented on #496
hoping this works for good now :P

[2016-06-16 21:33] #496 closed

[2016-06-23 17:08] mray opened #504 "Add version number to apps meta info"
A user should know *beforehand* what version is going to be installed. Especially if apps can't be uninstalled.

[2016-06-25 00:13] mray opened #505 "Indicate port forwarding requirements of apps"
There needs to be a common indication of ports that need to be forwarded in case of running a FreedomBox behind a NAT.

For example: I installed the xmpp server - now what ports does it need, a quick search only talks about 5222, but there are *lots* of others that i might want to use for file transfer or ssl or whatever!

Ideally that would also always link to a resource that explains the procedu

[2016-06-25 00:14] mray commented on #495
this turns out to be a duplicate of #505

[2016-06-25 00:14] #495 closed

[2016-06-25 11:57] SunilMohanAdapa commented on #505
On 06/25/2016 05:43 AM, mray wrote:

We do have a list of all ports for each application which is used by
firewall mechanism to open the ports.  It would indeed be a nice
improvement to people hosting FreedomBox behind a router.

We could show these details as part of every application's description
or as part of the firewall page.  We could hide these details from
people when FreedomBox is direct

[2016-06-25 12:12] mray commented on #505
I would prefer to keep this kind of information consistently present. If only for the reason that screenshots make sense in all cases.
Again: I think we should assume the majority of users *do* use FreedomBox behind another router. Solid data on this would be really  helpful. (other than extrapolating from asking a few community members and looking at numbers from cozy.io)

[2016-06-28 11:58] jvalleroy opened #506 "TypeError in first_boot"
I found this exception in plinth's log while testing this image:
http://ftp.skolelinux.org/pub/freedombox/0.9-rc1/freedombox-unstable-free_0.9_all-amd64.vdi.xz

[code]

Also the apps list doesn't appear in plinth in this image. (It works fine in the i386 image though.) Not sure if that is related.

[2016-06-28 15:56] dieterth opened #507 "500"
Hi,

my new freedombox give me an order:
Dies ist ein interner Fehler und nicht etwas, das Sie verursacht haben oder beheben können. Bitte melden Sie den Fehler auf dem Bugtracker, so dass wir es beheben können.

This is an error you cant self correct, please create an ticket.
Best Regards,

Dieter

[2016-06-28 16:20] SunilMohanAdapa commented on #507
On 06/28/2016 09:26 PM, Dieter wrote:

Could you please check /var/log/syslog ? It would contain the full error
message that plinth is trowing.  That would be helpful in fixing the issue.

Also what leads to this error?  What operation did you perform?

--
Sunil

[2016-06-28 16:51] dieterth commented on #507
Hi Sunil,

i am new with the fb, and iam playing around in plinth.
I think, there was an update of avahi programs from the repo, in syslog i can find the atached data.
Plint isnt starting no more.
#--------
dth@freedombox:/var/log# cat syslog | plinth
[2016-06-28 18:42:54,796] plinth.__main__ INFO     Configured Django with applications - ['bootstrapform', 'django.contrib.auth', 'django.contrib.co

[2016-06-28 17:16] dieterth commented on #507
Hmm,

wy the ticket is closed?

sorry.

[2016-06-28 17:22] jvalleroy commented on #507
@dieterth I think you meant to run "cat syslog | grep plinth". The grep was left out so it started a 2nd instance of plinth.

[2016-06-28 18:22] #507 closed

[2016-06-29 02:49] SunilMohanAdapa commented on #507
On 06/29/2016 12:06 AM, Dieter wrote:

Does it also fix the original problem of getting uncorrectable errors on
your Plinth page?

--
Sunil

[2016-06-29 06:28] dieterth commented on #507
No, but i have reset the Box and take a newer Image to test it.
Maybe this error sitt in front off the Screen.
:)
The Image i used was an older one, ~0.7? now i use the newest one.

Thank you for your great Work!
Dieter

[2016-06-30 13:52] jvalleroy commented on #506
@SunilMohanAdapa I don't see this issue when rebuilding virtualbox-amd64 image. Could there have been a temporary issue during the 0.9-rc1 image build?

[2016-06-30 14:02] SunilMohanAdapa commented on #506
On 06/30/2016 07:22 PM, James Valleroy wrote:

I read that Django 1.10 beta was accidentally uploaded in unstable and
was later corrected. https://tracker.debian.org/pkg/python-django . The
date certainly coincides with our build date.

I shall make fresh builds and upload them.

--
Sunil

[2016-07-01 02:01] #487 closed

[2016-07-01 15:55] SunilMohanAdapa commented on #506
I can confirm that in 0.9-rc2 images that I have just uploaded, that problem is gone.  I believe this bug is now fixed.

[2016-07-01 15:55] #506 closed

[2016-07-01 16:13] SunilMohanAdapa commented on #471
Does installing php-xml fix the issue?

[2016-07-08 05:26] SunilMohanAdapa opened #512 "Tor: Add option to circumvent censorship"
Currently we are helping others circumvent censorship by enabling Tor bridge relays. However, if FreedomBox's Internet connection itself is being censored, we can't use other bridge relays to circumvent censorship.

Add an option to circumvent censorship:
- Provide a multi-line input box to collect bridge relay information just like in Tor browser bundle.
- Description to this field should point t

[2016-07-09 20:09] jvalleroy opened #514 "RuntimeError: OrderedDict mutated during iteration"
When trying to run all diagnostics (using 0.9-rc2 raspberry2 image), I got this error:
[code]

[2016-07-09 20:20] jvalleroy commented on #514
After returning to the Diagnostics page, I am able to see the results of the previous run. Running all diagnostics again did not reproduce the error.

[2016-07-10 15:00] SunilMohanAdapa commented on #514
On 07/10/2016 01:39 AM, James Valleroy wrote:

The error is due to the diagnostics results array being iterated at the
same time a new diagnostics result is being inserted.  Understandably
this is a bit rare.

The fix is to update the diagnostics results in a thread safe way.

--
Sunil

[2016-07-15 11:03] harry-7 commented on #451
I want to work on this Issue ? Can I work on it ?

[2016-07-15 14:51] SunilMohanAdapa commented on #451
On 07/15/2016 04:33 PM, Hemanth Kumar Veeranki wrote:

Please go ahead and work on it.

--
Sunil

[2016-07-15 17:14] harry-7 commented on #451
I am including last 100 lines of the log for now. What should be regex that I need to add to urls.py for this view?

[2016-07-15 17:16] SunilMohanAdapa commented on #451
You can have the URL as /help/status-logs (better suggestions welcome).  This URL will be linked to from the 500.html template.  The URL regex for the page will page ^/help/status-logs$.  Or are you taking of something else?

[2016-07-15 17:18] harry-7 commented on #451
My doubt was that since this page should serve as landing page for 500 error. This should be redirected to the particular url for which the user will be redirected when he encounters a 500 error. Is there any such url ?

[2016-07-15 17:20] SunilMohanAdapa commented on #451
I don't think a redirect should happen.  The current 500 error page will remain.  It will contact a link to a new page that the user will have to click.  That new page will contain the logs messages for user to take and report.

[2016-07-15 17:21] SunilMohanAdapa commented on #451
At least, this is how I understand @fonfon intension. I think it is a better approach compared to redirection.

[2016-07-15 17:25] harry-7 commented on #451
Yes this is better. And so these views should be created in help module right ? and add the link in 500.html template ? That is what should be done right ?

[2016-07-15 17:35] SunilMohanAdapa commented on #451
Yes.

[2016-07-15 18:43] fonfon commented on #451
Yes, the link to the log-page is better than a redirection, you are on the right track :)

[2016-07-15 20:58] nikhilrayaprolu commented on #204
Hello if so we would be changing the colours of the badges in firewall page,what would be correct combination to go with?
red is standard for blocked
green for enabled
yellow for disabled are actually standard notations followed
 .can any one suggest colours that are appropriate if we change these?

[2016-07-16 00:39] NickDaly commented on #204
There are a number of ways to correct this:

1. Never use color as the only indicator, use other styling as well.
2. Going by the Wikipedia page on [colorblindness](https://en.wikipedia.org/wiki/Color_blindness), I can see that red, yellow, and green all [collapse into yellow](https://en.wikipedia.org/wiki/File:Braeburn_GrannySmith_dichromat_sim.jpg), so only one of those colors should be used.

K

[2016-07-17 15:02] Irianx commented on #432
Hi. I think I have the same problem. Clicking on "Monkeysphere" from "Plinth" is showing the same error message. Here the plint/status.log content for the action:

[2016-07-17 17:01:56,880] plinth.actions INFO     Executing command - ['sudo', '-n', '/usr/share/plinth/actions/monkeysphere', 'host-show-keys']
[2016-07-17 17:01:59,132] django.request ERROR    Internal Server Error: /plinth/sys/monkey

[2016-07-17 15:08] Irianx opened #521 "Monkeysphere error 500"
Hi. I tried to use monkeysphere and get now only the error 500 (no more access to monkeysphere). How to get out of this problem? Here the content of plinth.log in case of opening monkeysphere:

[2016-07-17 17:01:56,880] plinth.actions INFO     Executing command - ['sudo', '-n', '/usr/share/plinth/actions/monkeysphere', 'host-show-keys']
[2016-07-17 17:01:59,132] django.request ERROR    Internal Se

[2016-07-17 15:16] jvalleroy commented on #432
@Irianx Could you please run the following:
[code]
And send the output?

[2016-07-17 15:20] Irianx commented on #432
I replaced my hostname by "myhostname.de", if you need my hostname, i will send you a private message (is hope this is possible? I am new here):

{"keys": {"3:9b:d9:01:d8:37:2f:05:36:c8:ff:42:61:79:a1:30": {"key_file": "/etc/ssl/private/ssl-cert-snakeoil.key", "ssh_fingerprint": "3:9b:d9:01:d8:37:2f:05:36:c8:ff:42:61:79:a1:30", "service": "https", "available_domains": ["*"]}, "53:9b:d9:01:d8:37:2f

[2016-07-20 18:48] nikhilrayaprolu commented on #221
so i tried removing the /sys/ part of  url from the network module but ended up with no side menu.From where is the side menu comming from.Is there any middle ware working on it?

[2016-07-20 19:08] nikhilrayaprolu commented on #485
I would like to take up this issue.is it sufficient to add these packages to list of managed_packages list in ikiwiki's init.py

[2016-07-20 20:56] nikhilrayaprolu commented on #358
[code]

found that the error is being called from this function in action_utils.py . So should we include apache2 in our dependencies or can this call be changed in a way possible to make it independent of apache

[2016-07-20 21:46] jvalleroy commented on #358
@nikhilrayaprolu I would suggest to check that apache is installed before running a2query. If apache is not installed, report that the web config is not enabled (and perhaps provide a warning message or log).

Then in the future, we could extend this to also support nginx, if it is installed in place of apache.

It would be nice if there was a common way to check this for all popular webservers. B

[2016-07-20 22:30] jvalleroy commented on #485
@nikhilrayaprolu Yes, that would be sufficient.

We can also remove the extra packages that are listed there now (besides ikiwiki). Because they are Recommends for the ikiwiki package, they are now installed by default.

[2016-07-20 23:20] jvalleroy commented on #221
@nikhilrayaprolu The side menu is called "submenu", it is selected here: https://github.com/freedombox/Plinth/blob/master/plinth/context_processors.py#L42.

[2016-07-21 22:06] jvalleroy commented on #451
FIxed in #520.

[2016-07-21 22:06] #451 closed

[2016-07-22 09:14] nikhilrayaprolu commented on #485
'gcc', 'libc6-dev', 'libtimedate-perl','libcgi-formbuilder-perl', 'libcgi-session-perl','libxml-writer-perl'
these are actually the present dependencies listed over in ikiwiki init.py.with the present dependencies plus xapian-omega, libsearch-xapian-perl, and libhtml-scrubber-perl are listed in dependencies of ikiwiki in debian packages list at https://packages.debian.org/stretch/ikiwiki  .But som

[2016-07-22 09:28] nikhilrayaprolu commented on #485
finally got this list from "apt-cache showpkg ikiwiki"
Dependencies:
3.20160509 - libhtml-parser-perl (0 (null)) libhtml-scrubber-perl (0 (null)) libhtml-template-perl (0 (null)) libjson-perl (0 (null)) libtext-markdown-discount-perl (0 (null)) liburi-perl (2 1.36) libyaml-libyaml-perl (0 (null)) perl (0 (null)) ikiwiki-plugin-table (0 (null)) gcc (16 (null)) c-compiler (0 (null)) git (18 1:1.7) g

[2016-07-22 11:06] nikhilrayaprolu commented on #362
Is this package removed from debian packages list?I could not find any sources of it any where

[2016-07-22 11:07] nikhilrayaprolu commented on #363
Is this package removed from debian packages list?I could not find any sources of it any where

[2016-07-22 11:40] nikhilrayaprolu commented on #358
basically in action_utils we have functions to check whether apache2 is running or not.but I see that we dont have a function to check whether it is installed or not.so I got this link regarding how to check if apache is installed or not. http://superuser.com/questions/387948/how-can-i-determine-if-apache-is-installed-on-a-system
Shall we write a function to find out this so that we can use it whe

[2016-07-22 13:29] nikhilrayaprolu commented on #251
https://github.com/freedombox/Plinth/blob/master/plinth/network.py#L135

where from the 'address' variable came here. I could see 'addresses' being initialised and assigned above this line,but could not find where 'address' is initialised

[2016-07-22 14:48] harry-7 commented on #488
I would like to work on this issue. Can you explain a bit more? as to what and where needs to updated?

[2016-07-22 15:46] nikhilrayaprolu commented on #251
Does this mean we have to update the version of nm package to some version >1.0.7

[2016-07-22 15:56] nikhilrayaprolu commented on #488
@harry-7 https://github.com/freedombox/Plinth/blob/master/actions/radicale#L59

[2016-07-22 16:51] harry-7 commented on #488
@nikhilrayaprolu  My doubt was should I add an option in the current main page or create a separate view? any comments on that ?

[2016-07-22 20:07] jvalleroy commented on #488
@harry-7 I would suggest adding the option to the current page. Since it is a simple configuration, we can try to keep it to 1 page.

[2016-07-22 20:12] jvalleroy commented on #251
@nikhilrayaprolu Debian testing and unstable have network-manager 1.2.2 (https://packages.qa.debian.org/n/network-manager.html).

But Plinth still has an "ugly hack" workaround, that was needed for the older network-manager:
https://github.com/freedombox/Plinth/blob/master/plinth/network.py#L203

So we want to replace that now, with something less hack-y.

[2016-07-22 20:31] jvalleroy commented on #358
@nikhilrayaprolu I think it can be even simpler, just run "which a2query" and check if there is any output.

[2016-07-22 20:37] jvalleroy commented on #363
@nikhilrayaprolu We were hoping it would be uploaded soon, but that has not happened yet. (For this reason, the restore module is disabled in Plinth's debian package.)

[2016-07-22 20:41] jvalleroy commented on #485
@nikhilrayaprolu Currently we use apt-get to install packages, with default settings. So it will installed Depends and Recommends, but not Suggests. So for now, we can specify ikiwiki + suggested packages that we want.

[2016-07-23 12:27] jvalleroy opened #527 "Update network test setup for new fields"
Sorry, I should have caught this earlier. The batman mesh setup PR added new fields to wifi setup, so we need to update the network tests setUp.
[code]

[2016-07-23 12:43] jvalleroy commented on #358
@nikhilrayaprolu Here's another method using python standard library:
[code]

[2016-07-23 13:06] nikhilrayaprolu commented on #221
[code]
https://github.com/freedombox/Plinth/blob/master/plinth/menu.py#L82
So the menu items are grouped at present as system ,help and app at present .and are returned based on the path specified in the url.
if we plan to remove the hierarchy in the url.then we have to find an alternative in retreiving the side menu instead of searching for a specific keyword in the request url path.
I would sugg

[2016-07-23 13:27] jvalleroy commented on #485
Fixed in #523.

[2016-07-23 13:27] #485 closed

[2016-07-23 14:33] harry-7 commented on #488
The main page for Radicale seems a bit complicated I think I need to write a new main page :P . Is there any way to modify the original one to include this?

[2016-07-23 15:15] jvalleroy commented on #488
@harry-7 I think one option is to extend plinth.forms.ServiceForm and plinth.views.ServiceView. So you would have a RadicaleServiceForm and RadicaleServiceView that inherit from those, but have the additional settings.

[2016-07-23 15:48] jvalleroy opened #529 "Let modules register additional steps for first_boot"
Currently the first_boot module handles a few different tasks:
- Creating initial user and groups
- Setting security access restrictions
- (If configured) Registering and setting up pagekite

My thought is that there should be a list of first boot steps, and any module can add to the list. The step might only be to run a command, or it might include a form to display. Would this make sense?

[2016-07-23 15:54] harry-7 commented on #488
@jvalleroy  So basically create a new form and use this form in the ServiceView and override a form_valid method? Is that what you mean ?

[2016-07-23 16:53] nikhilrayaprolu commented on #527
is it enough to update test data by adding new fields in https://github.com/freedombox/Plinth/blob/master/plinth/tests/test_network.py

[2016-07-23 16:58] jvalleroy commented on #527
@nikhilrayaprolu Yes I think so. Please test it though. :)

[2016-07-23 17:06] jvalleroy commented on #488
@harry-7 I was thinking of something like this:
[code]
But I haven't tested this, so feel free to make changes as needed.

[2016-07-23 17:17] harry-7 commented on #488
I was thinking of same thing  :) and I am trying it out but I don't get how to get the current rights type ?

[2016-07-23 17:40] jvalleroy commented on #488
@harry-7 Similar to https://github.com/freedombox/Plinth/blob/master/actions/radicale#L59, you can use augeas to get the current value:
[code]

[2016-07-24 13:34] jvalleroy commented on #527
Fixed in #530.

[2016-07-24 13:34] #527 closed

[2016-07-24 14:42] jvalleroy commented on #358
Fixed in #528.

[2016-07-24 14:42] #358 closed

[2016-07-24 23:01] jvalleroy commented on #488
Fixed in #532.

[2016-07-24 23:01] #488 closed

[2016-07-25 11:11] jvalleroy commented on #38
To correct what I said in the progress call:
a2query doesn't actually need root, but it's installed in /usr/sbin. So we will just need to use the full path when checking if it's installed.

[2016-07-25 18:53] nikhilrayaprolu commented on #38
@SunilMohanAdapa @jvalleroy what would be a better way to identify that we dont have root privileges to run?
http://stackoverflow.com/questions/2806897/what-is-the-best-practices-for-checking-if-the-user-of-a-python-script-has-root

I find that we could use `os.geteuid() != 0` but the above discussion says its not a standard way to do it.So shall we go writing a function for this code and import i

[2016-07-25 20:12] nikhilrayaprolu commented on #38
secondly let us assume that we have started our application in non-root mode then how about some actions which require root permissions like installation of applications, etc?One way we could do this is by asking for sudo permissions when ever required(basically like the way software updaters do:asking for root permissions whenever required)

[2016-07-25 20:26] nikhilrayaprolu commented on #38
tried calling this command  `output = actions.superuser_run('tor', ['get-status'])` https://github.com/freedombox/Plinth/blob/master/plinth/modules/tor/utils.py#L49
without superuser permissions during plinth startup and got this error
[code]

[2016-07-25 22:28] jvalleroy commented on #38
@nikhilrayaprolu Here's my understanding of the issue:

Currently plinth runs as the root user. We would like to instead run as a non-root user (named "plinth"). This user will have sudo abilities though. But we want to limit where sudo abilities can be used:
- Only commands run by actions.superuser_run can use sudo.
- All other plinth modules or command cannot use sudo.

I think if we follow this

[2016-07-26 08:29] harry-7 commented on #38
@jvalleroy  By plinth user you mean user in the system right. So during install we create a user with sudo permissions and we run plinth from the plinth user. Is that what you meant ?

[2016-07-26 14:41] harry-7 commented on #529
@jvalleroy  Yes Idea sounds good. I would like to work on this issue. Can you guide me through this?

[2016-07-26 16:53] jvalleroy commented on #38
@harry-7 Yes, the plinth user is created by the plinth package's postinst script:
https://sources.debian.net/src/plinth/0.9.4-2/debian/postinst/

[2016-07-26 17:07] harry-7 commented on #38
@jvalleroy So is  this issue  about running in Operating systems like Debian and Ubuntu etc ?

[2016-07-26 17:57] Diet-mar commented on #433
The backup process might also be used for migrating settings and data e.g. to a new hardware.

[2016-07-27 04:22] nikhilrayaprolu commented on #38
I am planning something like using os.setuid(<ID of plinth>) at the beginning of plinth/__main__.py .and execute "sudo plinth".this way we could execute the whole script as plinth and when ever sudo permissions are needed that can be taken by subprocesses.does this sound good. or can you please me a better one.

I have tried adding USER and GROUP rows in systemd unit file ( https://github.com/free

[2016-07-28 17:30] SunilMohanAdapa commented on #321
I believe this issue is now fixed with the merge of #531 by @nikhilrayaprolu .

[2016-07-28 17:30] #321 closed

[2016-07-30 02:01] jvalleroy opened #534 "ldapscripts: Re-use config values from /etc/nslcd.conf"
Currently in users module setup, we configure LDAP server URI and SASL auth mech for nslcd:
https://github.com/freedombox/Plinth/blob/master/actions/users#L53

We also configure the LDAP server URI, SASL auth mech, suffix, user suffix, and group suffix for ldapscripts:
https://github.com/freedombox/Plinth/blob/master/actions/users#L164

ldapscripts can read settings for LDAP server URI, suffixes,

[2016-07-30 09:39] harry-7 commented on #473
@jvalleroy  I would like to work on this. Can I change --setup argument to setup subparser [here](https://github.com/freedombox/Plinth/blob/master/plinth/__main__.py#L55) and add a subargument ?

[2016-07-30 09:56] SunilMohanAdapa commented on #473
On 07/30/2016 03:09 PM, Hemanth Kumar Veeranki wrote:

That sounds good.  Please make sure to keep backward compatibility.
Running --setup without arguments to lead to all essential applications
getting installed just like before

--
Sunil

[2016-07-30 10:01] harry-7 commented on #473
@SunilMohanAdapa  To do that I must add a additional arugument called modules usage will be like
plinth --setup will load all modules where as
plinth --setup --modules [module1 module2...] will install module1 module2 etc.
Is that fine ?

[2016-07-30 10:31] SunilMohanAdapa commented on #473
On 07/30/2016 03:31 PM, Hemanth Kumar Veeranki wrote:

Writing parameter nargs='*' for the --setup argument should allow zero
or more arguments to accompany --setup.

--
Sunil

[2016-07-30 10:43] harry-7 commented on #473
@SunilMohanAdapa  Yes Found out that added it and created a pull request.

[2016-07-31 08:49] SunilMohanAdapa commented on #473
Fixed in #535.

[2016-07-31 08:49] #473 closed

[2016-07-31 13:54] SunilMohanAdapa opened #536 "Add how-can-i-help page to Plinth"
We are currently showing list of Debian packages that need help when apt is run.  This is only available people are using apt from command line which is rare for our case.  Also we need to show ways to contribute to FreedomBox.

We need to create a page in the help section of the Plinth to show list ways people can help FreedomBox/Debian.  This page should contain information about:
* Link to Free

[2016-07-31 16:03] Diet-mar opened #537 "Grouping Applications"
I would like to suggest to group similar and alternate applications in Plinth. The idea is to make on one side the alternatives (e.g. Pagekite, DynDNS)  clear to the user and on the other side to provide a structure because the number of applications is increasing.

**Settings**
- Certificates (Let's Encrypt)
- Configure
- Date & Time
- Diagnostics
  - Name Services
  - Firewall
- Monkeysphere
- N

[2016-07-31 20:07] harry-7 commented on #442
I would like to work on this Issue. By Each App page do You mean index of each app right ?

[2016-08-02 13:18] SunilMohanAdapa opened #539 "letsencrypt: Show better message when domains are not configured"
When people visit the let's encrypt page for the first time, they see a blank list of domains and it is not clear why or what to do next.

Add a message when there are no domains configured instead of showing an empty table:
"You do not have any domain configured.  Configure domains to be able to obtain certificates for them."

[2016-08-02 19:22] Diet-mar opened #540 "Plinth front page for visitors"
During the last call we discussed a Plinth front page for visitors. I started a brainstorming about this idea:

- Show a general introduction to the FreedomBox concept. This should be identical to the intro in the wiki or freedombox.org
- list and link to the public services installed on that box, such as owncloud, wikis and blogs, e-mail client, Plinth ...

This page could be fixed, but I like be

[2016-08-03 02:19] SunilMohanAdapa commented on #540
This is very important and urgent thing to do.

[2016-08-03 02:20] SunilMohanAdapa commented on #323
Based on existing configuration for IPv4, it should not too hard to added IPv6 related configuration parameters.

[2016-08-03 19:46] Diet-mar commented on #540
My idea of the front page is that it informs visitors about where they are (and thus does advertising) and also provides a quick entrance to its users.
So the content could be like:

"
Welcome to FreedomBox

FreedomBox is a 100% free software self-hosting web server to deploy social applications on small machines. It provides online communication tools respecting your privacy and data ownership. Y

[2016-08-03 20:34] jvalleroy commented on #537
@Diet-mar Could you please check #511 and comment on it (whether it looks like a step in the right direction, or what it might be missing)?

[2016-08-03 20:47] Diet-mar commented on #537
@jvalleroy I did not see that work before, it's the same idea. Let's continue discussion there and close this.

[2016-08-03 20:48] jvalleroy commented on #529
@harry-7 Maybe we can start with the following:
- Move State1 form and view to users module.
- Move State5 form and view to pagekite module.
- first_boot module allows other modules to add URLs to be part of first boot process. I don't exactly know how this would work, but it might be similar to the names module which uses plinth.signals.

[2016-08-03 20:56] jvalleroy commented on #221
@nikhilrayaprolu I think searching for the module name should be ok. Actually I implemented that as part of another pull request #511: https://github.com/jvalleroy/Plinth/blob/32506f3a5e988d6106418f1c411ff59c086adb43/plinth/menu.py#L59

[2016-08-04 10:58] harry-7 commented on #529
@jvalleroy My idea is to use a prefix firstboot in the method names which need to be run at firstboot something like firstboot_<modulename>. During initial setup the first_boot can call them. Is it possible to do this kind of thing ?

[2016-08-06 09:25] SunilMohanAdapa commented on #204
[Most](http://webaim.org/articles/visual/colorblind) [resources](http://wearecolorblind.com/examples) [on](https://designshack.net/articles/accessibility/tips-for-designing-for-colorblind-users/) the matter don't actually suggest changing the colors to help people with color blindness.  They suggest that using these colors should not normally be a problem but when color is used to provide importan

[2016-08-06 13:14] jvalleroy opened #543 "Support LibreJS"
Currently, when LibreJS is enabled, it blocks javascript loaded from a plinth instance.

Since all of the JS used by Plinth is free software, we should be able to add licensing information so that the scripts won't be blocked. There is a guide on how to add license info in a way that LibreJS can recognize:
https://www.gnu.org/software/librejs/free-your-javascript.html

[2016-08-06 21:37] jvalleroy opened #544 "Django 1.10 menu issue"
After upgrading python3-django to 1.10-2 (from unstable), the menus are no longer displayed in Plinth.

[2016-08-08 10:46] harry-7 commented on #544
@jvalleroy this is because the submenu variable [here](https://github.com/freedombox/Plinth/blob/master/plinth/templates/base.html#L160) is becoming None in the template. Any ideas why ?

[2016-08-08 18:33] jvalleroy opened #545 "Setup snapshotting before and after package installations"
This can be done by installing a hook file in apt configuration. As example see apt-btrfs-snapper. Or just use it after packaging it. Etckeeper is no longer necessary after this.

[2016-08-11 08:41] SunilMohanAdapa opened #548 "Consider moving to Argon2 for password hashing"
Argon2 won the password hashing competition 2015.  It is a memory-hard hashing making it hard for custom hardware to perform computations.  It is recommended for immediate use.  Django has a good fallback way supporting multiple hashes and for upgrading old passwords.

Django 1.10 recommends Argon2. However, it is not default to additional dependencies.  After Python library for Argon2 is packaged

[2016-08-11 08:51] SunilMohanAdapa opened #549 "Migrate to new style MIDDLEWARE"
In Django 1.10 [new style middleware](https://docs.djangoproject.com/en/1.10/releases/1.10/#new-style-middleware) classes have been introduced.  Move to using this mechanism. However, to move to the new MIDDLEWARE setting instead of old MIDDLEWARE_CLASSES setting will need support for new style middleware for all the involved middleware.  Only middleware that does not support is stronghold middlew

[2016-08-11 21:56] jvalleroy commented on #251
Fixed in #526 and #542.

[2016-08-11 21:56] #251 closed

[2016-08-11 23:53] jvalleroy commented on #544
Fixed in #546 and #547.

[2016-08-11 23:53] #544 closed

[2016-08-12 01:02] jvalleroy opened #550 "xmpp: Better display when domain name not set"
When the domain name is not set, the XMPP page shows this:
[code]

Instead we should just say something like "Your XMPP server domain is not set".

[2016-08-12 14:52] jvalleroy opened #551 "Split reserved usernames list across modules"
Currently there is a list of reserved usernames in the users module:
https://github.com/freedombox/Plinth/blob/c8c6bc377b1e0831961dc626896c793beaeaa33c/plinth/modules/users/forms.py#L30

It would be better to have each module declare its own reserved username. Perhaps when each module is initialized, it would add its own reserved usernames to a common list managed by users module.

[2016-08-12 15:09] SunilMohanAdapa commented on #491
This should now be fixed with #516 which does not allow usernames that exist in the system and reserved usernames.

[2016-08-12 15:09] #491 closed

[2016-08-12 17:02] SunilMohanAdapa commented on #551
Some more details:
* Each module, only when it needs to, will declare a reserved_usernames variable with a list of usernames that are used by the the services of that module.
* The Mixin that currently checks for reserved usernames will enumerate all the loaded modules using module_loader and checks the username against the reserved usernames.

[2016-08-12 17:56] SunilMohanAdapa commented on #529
@harry-7 , what you are suggesting is quite possible.  Python can enumerate and introspect methods of a module. However, here are some considerations:
* In this scheme, there is no way for modules to specify the order in which the module's first boot component should run with respect to other modules' first boot components.  For example, GPG module's key setup first boot view, will require login t

[2016-08-12 18:43] SunilMohanAdapa commented on #529
@harry-7, Here is an expansion to @jvalleroy 's proposal.

* Each module that is interested in showing a first boot step will
  declare a variable as follows: `first_boot_steps = [{'id':
  'modstep1', 'url': 'module:step1', 'order': 100}, {'id': 'modstep2',
  'url': 'module:step2', 'order': 200}]`.

* The first boot module will have it's own steps registered in a
  similar manner.

* When a module

[2016-08-12 20:39] jvalleroy commented on #449
Partially fixed in #552. Here's another log that shows (another?) error that led to a 500 error page:
[code]

[2016-08-13 02:29] SunilMohanAdapa commented on #449
@jvalleroy, can you confirm that #552 fixed the 'Username not found' stack strace?

[2016-08-13 03:28] SunilMohanAdapa commented on #494
Since the original problem with lets encrypt is solved, I believe we can close this issue.  Please feel free to reopen if more discussion is necessary.

If the issue with CalDAV/CardDAV still exists, please create a separate issue with it.

[2016-08-13 03:28] #494 closed

[2016-08-13 11:25] jvalleroy commented on #449
@SunilMohanAdapa It looks like there is still an issue when renaming a user.

[2016-08-13 17:18] jvalleroy commented on #437
Fixed in #524.

[2016-08-13 17:18] #437 closed

[2016-08-13 21:05] jvalleroy opened #553 "package: Don't run apt-get update/install for packages already installed"
Detect if requested package is already installed before running apt-get update and install:
https://github.com/freedombox/Plinth/blob/master/plinth/package.py#L80

[2016-08-13 21:24] jvalleroy commented on #553
It might be nice to have an additional option like ```plinth --setup --no-install```, in which case setup would be skipped for modules that require package installs (with appropriate error or warning). This could be used by freedombox-setup to enforce that all essential module packages are dependencies of freedombox-setup.

[2016-08-14 05:41] SunilMohanAdapa opened #554 "More strick checks when setting timezone"
Currently, if someone gains access to plinth daemon, they can send a bad value when setting timezone.  This value can contain '..' in the path leading to unexpected results.  Make sure that these cases are properly checked for before attempting to set timezone in actions/timezone-change.

[2016-08-14 06:49] SunilMohanAdapa opened #555 "dynamicdns: Password is readable by other users on the system"
When plinth writes configuration files for ez-ipupdate, they appear as follows:
[code]
The configuration file containing the password is readable by other users on the system.

[2016-08-19 11:02] FedericoCeratto opened #561 "[829743] plinth: Needs breaks/replaces on freedombox-setup"

[2016-08-19 11:02] FedericoCeratto commented on #561
BTS_msg_id: <CAJ=zHHqp+TfkdFq9R6rFXPq=Tizg_XOfMqzrjncmmpppvNC7qA@mail.gmail.com>
BTS author: Jeremy Bicha <jbicha@gmail.com>

Package: plinth
Version: 0.9.4-1
Severity: serious
Justification: breaks upgrades

plinth 0.9.4-1 now ships the same files[1] that were shipped by
versions of freedombox-setup before 0.9.2.

According to Debian policy [2], please add these lines to your debian/control:

Bre

[2016-08-19 11:02] FedericoCeratto commented on #561
BTS_msg_id: <366c3be6-4a7a-4a39-6a24-3bc4a529d7cb@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--v0rxTffxs2iQohpOEdTGUbefk5NTUU4E9
Content-Type: multipart/mixed; boundary="pkJtqENfIpjcXfHhvjQq5XK8PF1L8P3jN"
From: James Valleroy <jvalleroy@mailbox.org>
To: 829743@bugs.debian.org
Message-ID: <366c3be6-4a7a-4a39-6a24-3bc4a

[2016-08-19 11:02] FedericoCeratto commented on #561
BTS_msg_id: <76e50772-0573-c522-f0aa-fe10aeb3a888@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--3uR0ixKsMm20MAewOPKTN2g2QG75OP8H9
Content-Type: multipart/mixed; boundary="WmcbWx4KIIivMTlMAcgXnFNVQqQs1H2vn"
From: James Valleroy <jvalleroy@mailbox.org>
To: control@bugs.debian.org
Message-ID: <76e50772-0573-c522-f0aa-fe10

[2016-08-19 11:02] FedericoCeratto commented on #561
BTS_msg_id: <E1bOSG2-0003T7-67@franck.debian.org>
BTS author: Federico Ceratto <federico@debian.org>

Source: plinth
Source-Version: 0.9.4-2

We believe that the bug you reported is fixed in the latest version of
plinth, which is due to be installed in the Debian FTP archive.

A summary of the changes between this version and the previous one is
attached.

Thank you for reporting the bug, which wi

[2016-08-19 11:02] FedericoCeratto commented on #561
BTS_msg_id: Bug archived.
BTS author: Debbugs Internal Request <owner@bugs.debian.org>

# A New Hope
# A long time ago, in a galaxy far, far away
# something happened.
#
# Magically this resulted in the following
# action being taken, but this fake control
# message doesn't tell you why it happened
#
# The action:
# Bug archived.
thanks
# This fakemail brought to you by your local debbugs
# admini

[2016-08-19 11:02] #561 closed

[2016-08-21 23:57] jvalleroy opened #562 "unattended-upgrades doesn't complete plinth upgrade on first try"
I ran unattended-upgrades in the background, and after a while it wasn't running anymore, and plinth had also stopped running.

This was at the end of /var/log/unattended-upgrades/unattended-upgrades-dpkg.log:
[code]
So it looks like unattended-upgrades stops plinth, but doesn't manage to complete the upgrade. When I run it a second time with ```unattended-upgrades -v``` from the command line, I g

[2016-08-26 01:56] jvalleroy opened #565 "xmpp: Use letsencrypt certificate, when available"
Use letsencrypt certificate for both c2s and s2s connections.

[2016-08-27 02:17] jvalleroy opened #567 "letsencrypt: Misleading diagnostic message when no name services configured"
When no name services are configured (including domain, pagekite, tor HS), when running the diagnostics in the letsencrypt module, it shows the diagnostics results page with: "This module does not support diagnostics".

Perhaps we should not display the Run Diagnostics button on this page, when no name services are configured.

[2016-08-27 15:33] marxistvegan opened #568 "Snapshot fails to install"
This is on the Pi Zero and I get the below message in plinth
`Error installing application: ('snapshot', '', 'Creating config failed (/sbin/chsnap not installed).\nTraceback (most recent call last):\n File "/usr/share/plinth/actions/snapshot", line 161, in <module>\n main()\n File "/usr/share/plinth/actions/snapshot", line 157, in main\n subcommand_method(arguments)\n File "/usr/share/plinth/actio

[2016-08-27 16:05] SunilMohanAdapa commented on #568
On 08/27/2016 09:03 PM, Stephen wrote:

The Raspberry Pi, the filesystem is ext4 and not btrfs.  Although
snapper seems to claim the ability to work on ext4 also, I don't how
that would work.

Perhaps the only thing we should look for is to show a better error
message that snapshotting is on supported due to filesystem type.  This
should be useful for people installing freedombox package on regula

[2016-08-27 16:57] elvirolo opened #569 "Create default pw for fbx user and asks user to change it on first run"
I think that one should be able to access a FreedomBox via SSH by default. The "fbx" user should have a default password and the Plynth should force the user to change the password or allow him or her to disable password logins altogether during the setup process.

Of course, the firewall and/or fail2ban (or any similar system, such as those discussed there [https://www.mail-archive.com/freedombox

[2016-08-27 16:59] elvirolo opened #570 "Add UI for managing OpenVPN client"
Users' freedomboxes should be able to connect to another VPN server and create a Wifi AP that would allow surrounding machines to connect to it.

[2016-08-27 17:47] #569 closed

[2016-08-27 22:05] jvalleroy commented on #449
Fixed in #564.

[2016-08-27 22:05] #449 closed

[2016-08-28 03:05] SunilMohanAdapa commented on #570
Just to add a note, this will be part of our networks application and network manager will take care of OpenVPN connections as it has pretty good support for OpenVPN connections.

[2016-08-28 08:34] elvirolo opened #572 "Allow user to disable SSH password logins in Plynth"
It would be great if one could disable SSH password authentication from the Plynth user management page when/if an SSH public key is added.

[2016-08-28 09:44] SunilMohanAdapa commented on #119
This is now fixed with #566. Ejabberd configuration is the only place where we are altering YAML files.  So, ruamel.yaml's usage is comprehensive.

[2016-08-28 09:44] #119 closed

[2016-08-29 00:13] jvalleroy commented on #505
It would also be nice to have a way to confirm that ports are open and reachable from the outside, perhaps using http://www.canyouseeme.org/ or a similar service.

[2016-08-29 09:16] mray commented on #568
I also get this error message on Raspberry Pi 2B.
A general idea to first perform checks if the install is even possible makes much sense.
There could be an option to try installing it anyway, but with a  notice of why it probably fails.

[2016-08-30 12:41] jvalleroy opened #574 "Restrict characters allowed in ikiwiki site name"
When creating a wiki with symbols in the name, it may silently fail to create the wiki, or fail to compile it.

Add form validation to the name field to restrict the allowed set of characters. At least alphanumeric characters and spaces seem to be ok.

[2016-08-30 13:51] SunilMohanAdapa commented on #204
@NickDaly , any thoughts? Can we close this issue?

[2016-08-31 00:23] jvalleroy opened #576 "Replace letsencrypt package with certbot"
The letsencrypt package is a transitional package now. It has been renamed to certbot.

(Also consider whether to rename the letsencrypt module to certbot.)

[2016-09-01 15:48] jvalleroy opened #578 "After changing hostname, domain name disappears"
Most likely because we don't update /etc/hosts with the new hostname.

[2016-09-03 02:49] jvalleroy commented on #71
A front page was added in #575, so I think this can be closed. Please re-open if needed.

[2016-09-03 02:49] #71 closed

[2016-09-03 02:49] jvalleroy commented on #540
A front page was added in #575, so I think this can be closed. Please re-open if needed.

[2016-09-03 02:49] #540 closed

[2016-09-03 02:52] SunilMohanAdapa commented on #540
@Diet-mar , would you please look the screenshots in #575 and comment on it?

@jvalleroy , @Diet-mar We need to improve the frontpage to make it more appealing and function.  Internally, code structure could be better too, I believe.  Will post ideas as they come by.

[2016-09-03 19:23] jvalleroy opened #585 "Output list of packages required by essential modules"
For the plinth package in Debian, we need to add as dependencies any packages that are required by essential modules in Plinth. In the last progress call, it was suggested to have plinth produce a list of these packages, so we don't have to check it manually.

Add a command like ```plinth --list-required-packages``` to do this. Perhaps it could check essential modules by default, or accept a list

[2016-09-03 19:24] jvalleroy commented on #553
I think this can be closed. #577 fulfills the need for freedombox-setup. I also opened #585 to have Plinth produce a list of required packages.

[2016-09-03 19:24] #553 closed

[2016-09-03 19:49] jvalleroy commented on #261
Is this fixed with #564?

[2016-09-04 00:55] SunilMohanAdapa commented on #261
I believe this should now be fixed due to changes in #564.

[2016-09-04 00:55] #261 closed

[2016-09-04 06:58] SunilMohanAdapa commented on #319
Transifex is no longer being used by the Norwegian Bokmål team. So, Transifex is no longer needed.

[2016-09-04 06:58] #319 closed

[2016-09-04 19:52] jvalleroy commented on #576
Fixed in #582.

[2016-09-04 19:52] #576 closed

[2016-09-05 04:18] SunilMohanAdapa commented on #498
@mray , would you please check the output of the proposed patch #586 is as you imagined?

[2016-09-05 13:00] mray commented on #498
Yes, that would fix the width issue.

[2016-09-05 13:11] #498 closed

[2016-09-05 18:19] NickDaly commented on #204
Hi Sunil, thanks for pinging me on this, I'd missed pull #519.  I'm installing Plinth on my XU4 now and will try pull 519 out on the system later today.  After an initial review of the patch, it seems like enabled services are _italicized_, but other types of services and ports are not styled differently than neutral text.

I'll let you know after I try it out, I don't recall this thread well enou

[2016-09-06 16:57] SunilMohanAdapa opened #590 "repro: Handle opening firewall port for RTP communication"
Currently, after configuring repro and connecting to via an Android/desktop application, VOIP calls fail due to RTP ports not being open. This is typically the range 16384 - 32767 of UDP ports but may vary from vendor to vendor.  Find the port range required for repro and open the ports in firewall as long as repro is open.

[2016-09-06 17:00] SunilMohanAdapa opened #591 "networks: Mesh configuration needs to disable IPv6"
Currently, after creating a Mesh network configuration as described in the manual https://wiki.debian.org/FreedomBox/Manual/Networks#Configuring_a_mesh_network . The first connection fails to establish.  This is because IPv6 configuration is failing and leading to connection being treated as failed.  After setting `ipv6.method` to `ignore` using nmtui or nmcli the connection succeeds.  Provide a w

[2016-09-06 23:59] jvalleroy commented on #317
Fixed in #583.

[2016-09-06 23:59] #317 closed

[2016-09-07 00:02] jvalleroy commented on #534
I found that trying to move these configs to nslcd.conf caused issues with SSH login, so I think it's better to leave this as it is. Closing.

[2016-09-07 00:02] #534 closed

[2016-09-07 02:55] SunilMohanAdapa commented on #204
On 09/05/2016 11:49 PM, Nick Daly wrote:

Well, after all that reading, I believe no styling is actually required
for any of the elements because text label is available.  Other cues are
only required only if color is being used to convey the necessary
information.

Sure, please let us know what you think.

--
Sunil

[2016-09-07 17:32] SunilMohanAdapa opened #593 "dynamic DNS"

[2016-09-07 17:36] SunilMohanAdapa commented on #593
Prematurely posted the bug, later updated the description

[2016-09-08 13:47] SunilMohanAdapa commented on #521
This was a rather nasty problem.  Fixed in #573 .

[2016-09-08 13:47] #521 closed

[2016-09-08 13:48] SunilMohanAdapa commented on #432
The monkeysphere issues is fixed elsewhere. Closing the original issue due to lack of more information. Please reopen the issue if more information is available.

[2016-09-08 13:48] #432 closed

[2016-09-08 16:10] jvalleroy opened #594 "frontpage: Show some apps only for logged-in users"
As mentioned in #575, there are several apps that require a login to be useful: Privoxy, Transmission, Deluge, Radicale, Roundcube, Quassel, Ejabberd, JWChat, and TT-RSS. I suggest that we should not show these on the front page publicly, but only show them after the user is logged in. (Can also add OpenVPN for logged in users.)

[2016-09-10 10:51] parthsuresh commented on #574
Hi, I'm a beginner to open source projects but have some experience with Python and Django and I'd really like to contribute more to this project. Can I start off by working on this issue?

[2016-09-10 13:03] jvalleroy commented on #574
Hi @parthsuresh! Yes, you can work on this issue. Let me know if you have any questions or need some tips to get started.

[2016-09-10 14:29] parthsuresh commented on #574
Thanks for responding @jvalleroy! I'd like to know if there is any IRC channel for this project where I could ask some questions. I'm a bit of a noob, so some of my questions may end up cluttering this ticket..

[2016-09-10 14:54] jvalleroy commented on #574
@parthsuresh Yes, we are in #freedombox on OFTC.

[2016-09-10 21:40] NickDaly opened #598 "Update HTTPS Certificate After Hostname Changes"
When the user changes the hostname via `plinth/sys/config`, the certificate subject's common name (CN) doesn't change from "freedombox" to the new name.  The user is forced to add a security exception for their FreedomBox to connect, which should be avoided if at all possible.

Additionally, the default certificate's CN is incorrect: it uses the "freedombox" CN, while the user is connecting to "fr

[2016-09-10 22:25] NickDaly commented on #204
Pull #519 works nicely!  It differentiates between the three statuses pretty well.  Bolding blocked entries would be perfect, but it's definitely good enough right now.

Apologies for the delay on this issue.

[2016-09-11 01:55] SunilMohanAdapa commented on #598
On 09/11/2016 03:10 AM, Nick Daly wrote:

The security exception will need to be added anyway because the
certificate is a self signed one, right?

Also, I think hostname of the system has nothing to do with the
certificate.  It should be domain name (of which there can be many
pointing to the box) that should be part of the CN.  Currently, if the
domain name changes, one can go to let's encrypt a

[2016-09-11 13:22] jvalleroy opened #599 "ttrss: Avoid using localhost for SELF_URL_PATH"
From /etc/tt-rss/config.php:
[code]
We should set this to the current domainname if available (and update it when the domainname changes). Maybe we can use "hostname.local" if the domain is not available yet during setup.

[2016-09-11 17:19] NickDaly commented on #598
Correct.  The user could decide to trust their freedombox as a CA, but that's asking too much of our target user-base.  Fixing this would reduce the number of things wrong with the cert to 1 instead of 2.  I've corrected the top comment.

Also correct.

[2016-09-11 17:33] jvalleroy commented on #64
Duplicated in #512, but that one has more information. So we can close this one.

[2016-09-11 17:33] #64 closed

[2016-09-13 02:20] SunilMohanAdapa opened #602 "networks: Add ability configure moble broadband connections"
Plinth should implement configuring mobile broadband connections.

network-manager GUI programs use a common database of mobile broadband network providers[1][2][3].  This database provides all the information needed to configure a mobile internet connection easily without asking the user for overly technical information. This is available as a separate package in Debian[4] for easy usage.  During

[2016-09-13 02:24] SunilMohanAdapa commented on #126
We have #602 to track mobile broadband internet connections separately.

[2016-09-13 02:25] SunilMohanAdapa commented on #126
#570 for managing VPN client connections.

[2016-09-13 02:26] SunilMohanAdapa commented on #126
#323 to manage IPv6 support

[2016-09-13 17:44] SunilMohanAdapa opened #603 "networks: Add DNSSEC support for name resolutions"
When DNSSEC is enabled, for domains that support it the DNS responses are cryptographically verified to be authentic.  If the verification fails, domain resolution will fail.  Since the responses are verified, other interesting things such as distributing PGP keys over DNSSEC becomes possible.

To implement the best solution seems to be using dnssec-trigger and unbound with network manager.  When

[2016-09-14 16:17] jvalleroy commented on #210
Alternatively, we can use action_utils.dpkg_reconfigure to change enable_auto_updates and origins_pattern.

[2016-09-14 20:23] jvalleroy opened #604 "users: Add optional email field"
Add an optional field when creating or editing a user, to set the user's email address. This seems useful for mapping users to other authentication schemes such as GPG client certs or OpenID Connect.

[2016-09-15 11:28] jvalleroy commented on #425
I think having Plinth use the LDAP user store is not that important after all.

Would it make sense to be able to use HTTP auth to login to Plinth though?

[2016-09-15 12:06] SunilMohanAdapa commented on #425
On 09/15/2016 04:58 PM, James Valleroy wrote:

I think this would be welcome except for the case where slapd might be
down and no one is able to login on console or LDAP.  May be we have
take the plunge and simplify things.

For Plinth adding two-factor authentication is a good thing because
there could be brute force attacks and other attacks that could be very
serious.  Apache logins can be moni

[2016-09-17 13:46] deux2016 opened #605 "network - multiple WAN connection support"
it would allow freedombox routers to become much more powerful if they could use multi-WAN setups!
thank you for your work!

[2016-09-17 18:02] jvalleroy commented on #585
Fixed in #596.

[2016-09-17 18:02] #585 closed

[2016-09-17 18:11] SunilMohanAdapa commented on #605
@deux2016 , thanks for the bug report.

Currently, it is possible configure multiple WAN connections. Multiple default routes are added. I believe they will act as high reliability setup.  If one goes down, the other will continue to provide uplink to FreedomBox.  This can be done by simply creating two connections from Plinth.

There is also an option in network manager to select the 'route-metri

[2016-09-17 18:29] deux2016 commented on #605
if you can expose 'route-metric' - please do. This will make a more reliable network connection (allowing redundancy) and making freedombox a more appealing router (and enterprise router).

regarding simultaneous WAN connections - currently i am using openwrt with multiwan, and it works fine.

[2016-09-17 22:32] jvalleroy opened #606 "minetest improvements"
- [x] Add some basic configuration options such as max_users, enable_pvp, creative_mode, enable_damage.
- [X] Add minetest-mod-\* packages as dependencies for the module.

[2016-09-18 03:12] SunilMohanAdapa commented on #210
If we can use dpkg-reconfigure to achieve this, we should use that instead of Augeas.

[2016-09-18 06:58] SunilMohanAdapa opened #608 "xmpp: Update Javascript XMPP Client to >= 3.0.0"
The current version of JSXC in FreedomBox/Plinth is 1.0.0 due to this version being available in Debian.  However, 3.0.0 is available with lot of improvements.  Update version in Debian and Plinth to >= 3.0.0.

[2016-09-18 06:58] SunilMohanAdapa commented on #608
JSXC addition to Plinth is under review #607 .

[2016-09-18 07:01] SunilMohanAdapa opened #609 "xmpp: Test advanced features such as Audio/Video chat"
Test following features:

- Audio/video chat
- OTR

With clients:
- Desktop clients
- Javascript XMPP Client (JSXC)

If the above is not working, file issues on what needs to be done to get them working.

[2016-09-18 18:05] SunilMohanAdapa commented on #323
@steglicd , I have created a pull request #610 to support IPv6 networking in Plinth.  Among other things, if 'auto' is the method set for configuration, I believe network manager will configure the network using SLAAC.  Could you please check that this is sufficient implementation for this bug based on network manager capabilities?

[2016-09-18 20:09] jvalleroy commented on #38
Fixed in #533.

[2016-09-18 20:09] #38 closed

[2016-09-18 20:10] jvalleroy commented on #555
Fixed in #588.

[2016-09-18 20:10] #555 closed

[2016-09-19 00:24] jvalleroy commented on #594
Another suggestion: For logged-in users, we can show a "Configure" icon in the details for each service listed on the front page. This would link to the main app page.

[2016-09-19 13:07] SunilMohanAdapa commented on #574
I am taking this task to demonstrate contirbutions to Free Software.

[2016-09-20 00:04] jvalleroy commented on #440
Assuming this is fixed in  #607, which removes jwchat.

[2016-09-20 00:04] #440 closed

[2016-09-20 16:53] jyotishp opened #612 "Error while running post installation for tor"
I was installing tor using plinth and received a "500" internal error.
[log.txt](https://github.com/freedombox/Plinth/files/483144/log.txt)

[code]

[2016-09-20 16:59] SunilMohanAdapa commented on #612
On 09/20/2016 10:23 PM, Jyotish wrote:

Thanks for the report.  Did the installation go through successfully?
Does refreshing the page show you the page normally again?

--
Sunil

[2016-09-20 17:33] jyotishp commented on #612
For sometime, I wasn't able to connect to freedombox's web server. But ssh was working fine. Later the plinth site was accessable. It was showing that TOR was enabled. But I was unable to use tor. I was getting connection refused by proxy server.

[2016-09-20 17:38] jyotishp commented on #612
`systemctl status tor` shows that tor is running without errors.

[2016-09-21 16:11] jvalleroy commented on #574
Fixed in #611.

[2016-09-21 16:11] #574 closed

[2016-09-22 14:24] Marauderer97 commented on #536
Hello.. i am new to the open source community and would like to work on this issue.. hoping to get some help :) .. i understand that the first part of the task is to add a new page to the help section..can someone tell me what the remove how-i-can-help integration from apt part means and how to go about it?

[2016-09-22 16:09] SunilMohanAdapa commented on #536
@Marauderer97 , focus for now on adding a page to the help section.  We can deal with the removal after that.  Start by:
- Setting up a development environment by following the HACKING file and setting up a virtual machine.
- Learn a bit of Django.
- Read the man page of how-can-i-help command and understand its various options and output.

[2016-09-23 12:25] jvalleroy opened #614 "Enable Opportunistic IPsec"
This was suggested on the mailing list:
http://lists.alioth.debian.org/pipermail/freedombox-discuss/2016-September/007626.html

The configuration using libreswan is shown in these slides:
http://events.linuxfoundation.org/sites/events/files/slides/LinuxSecuritySummit-2016-OE-16x9.pdf

[2016-09-26 05:59] Pk13055 commented on #567
Hi, I'm a newbie to contributing to OS, and was wondering if you could tell me where I could find the button config; in the letsencrypt module or the diagnostics module?

[2016-09-26 10:42] mray opened #616 "Icon usage is problematic"
Applications that have identical purpose don't share the same icon. (Chat and Torrent clients)
Applications that have not identical purpose do share the same icon. (RSS and Mail)
Also some Applications can't be represented by only one icon (good example was owncloud, but also radicale)

I suggest starting to create sensible categories and find icons for those.
To distinguish each application i thi

[2016-09-26 10:47] mray commented on #316
I point to the [Identity Manual](https://wiki.debian.org/FreedomBox/Design/VisualIdentity?action=AttachFile&do=view&target=FreedomBox-Identity-Manual.pdf) as a small bump.

[2016-09-26 10:51] mray opened #617 "Colors should match identity manual"
If posible all colors should be taken out of the [Identiy Manual](https://wiki.debian.org/FreedomBox/Design/VisualIdentity?action=AttachFile&do=view&target=FreedomBox-Identity-Manual.pdf) or be derived from them.
Especially the blue link color.
Maybe [boostraps customize feature](https://getbootstrap.com/customize/) can be of help.

![selection_002](https://cloud.githubusercontent.com/assets/16478

[2016-09-26 14:49] SunilMohanAdapa commented on #316
We now have package called `fonts-lato` in Debian that provides the following files:
[code]

It issue now just a matter making small CSS changes to Plinth.

[2016-09-26 15:22] mray commented on #316
the css only points to the files - won't there be permission issues for the webserver to deliver the files?

[2016-09-26 15:30] SunilMohanAdapa commented on #617
This will be nice change to make.  When freedombox.org website lauches
and other material is available, the visual consistency will be
appealing to our users.

On 09/26/2016 04:21 PM, mray wrote:

As far as I can tell, this tool will generate a complete CSS file with
the customizations we want.  This is well suited for websites that pick
a particular version of Bootstrap.  This may (or may not) be

[2016-09-26 15:34] SunilMohanAdapa commented on #316
Indeed.

We could create a link from static/ directory in Plinth to actual font.  During Debian package we will have to deal with symlink somehow.  We recently did one similar change.  We could find a proper solution to this.

Another option is to update Plinth's webserver configuration such that /fonts/ will server all of /usr/share/fonts.

[2016-09-26 18:49] jvalleroy commented on #594
Converted to task list.

[2016-09-26 22:24] mray commented on #316
Why not just serve them as plain assets like images? we definitively want to also provide webfonts as .ttf files are way bigger than .woff or even .woff2.
*- assuming the Debian package contains only the files you listed -*

[2016-09-26 22:35] mray commented on #617
If we plan to change css colors, we should do so in the respective SASS or LESS source files and compile them. I guess doing it after the compilation is really tedious and not sustainable.

[2016-09-27 02:21] SunilMohanAdapa commented on #316
On 09/27/2016 03:54 AM, mray wrote:

Debian generally recommends that we use libraries (including js, css and
fonts) from the system.  This also allows us to let those packages
upgrade on their own for bug fixes etc. without us having to update them
ourselves ever time for newer releases.

The Debian package contains only the files I have listed.  We could
create a bug for the package and request

[2016-09-27 02:22] SunilMohanAdapa commented on #617
On 09/27/2016 04:05 AM, mray wrote:

We could integrate a SASS/LESS compiler integrated into our build system.

--
Sunil

[2016-09-27 02:25] SunilMohanAdapa commented on #608
JSXC 3.0 is now available in Debian, we need to adopt our scripts to it: http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=812933

[2016-09-27 11:17] mray commented on #316
In the long run we don't want to serve those huge versions.
For comparaison the size of the whole Lato family:

TTF | WOFF2  | WOFF
------------ | ------------- | --------
 757,7 kB |  245,5 kB | 340,3 kB

[2016-09-27 11:20] mray commented on #617
Unfortunately I don't have much experience with bootstrap, maybe this has to be the solution.

[2016-09-27 14:36] SunilMohanAdapa commented on #617
If you just list the color values in this bug report for the above items I have listed (mostly just 5-6 items, ignoring items like labels, messages, etc.), I should be able to take care of the bootstrap bits.

Example of what I mean:
* Link color: #1771CF
* Selected menu item background: #1771CF
* Progress bar success: retain color
* Progress bar warning: retain color
* Progress bar default: #1771

[2016-09-29 23:40] jvalleroy opened #618 "Add a screenshot to Readme"
If someone just looks at this repo (and not the wiki or elsewhere), they should still get a good idea of what Plinth looks like.

[2016-10-01 02:58] #618 closed

[2016-10-01 03:10] SunilMohanAdapa opened #621 "Update screenshots on Wiki and README.md"
We have four screenshots on the page https://wiki.debian.org/FreedomBox/Plinth which somewhat outdated due to much cleaner design we follow.  Also ownCloud is no longer an application in FreedomBox.  Update these images with fresh screenshots and also edit the Plinth/README.md if necessary.

[2016-10-01 11:57] jvalleroy commented on #591
Fixed in #610.

[2016-10-01 11:57] #591 closed

[2016-10-01 12:57] jvalleroy commented on #590
Fixed in #613.

[2016-10-01 12:57] #590 closed

[2016-10-05 01:11] Xavier-J-Ortiz commented on #550
Hello all!

For the record, this would be my very very first bug to be squashed on an opensource project... ever! I feel confident about doing this, but the unknown always seems to have a "Here be dragons sign".

I'd like to take a stab at this at this if the terms are alright. :)

[2016-10-07 16:34] jvalleroy opened #623 "jsxc URL allows install/update of xmpp module without requiring login"
Just confirming this issue that was reported by DJ on the mailing list. I believe it only affects jsxc, because it is served at a url under the xmpp module.

[2016-10-07 23:47] bluekeys commented on #554
@arghyatiger have you had much success. Would you like some help?

[2016-10-08 04:30] arghyatiger commented on #554
Sir i would love some help. Been stuck since a long time

On Oct 8, 2016 5:17 AM, "David Stephen James Birch" <
notifications@github.com> wrote:

@arghyatiger <https://github.com/arghyatiger> have you had much success.
Would you like some help?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/freedombox/Plinth/issues/554#issu

[2016-10-08 09:12] bluekeys opened #624 "I'm unable to connect to plinth using vagrant"
vagrant ssh is not working. nor can I access the site via the browser.

I can see the shell login using Virtualbox -> Show. But I don't have a username password combo so can't investigate further.

I'm using windows10. vagrant 1.8.1

vagrant ssh is configured using OpenSSH for windows installed using choco i.e. `choco install openssh`.

I am able to ssh to other vagrant boxes without hitch.

I not

[2016-10-08 19:01] mray opened #625 "Plinth needs to know when installing apps is impossible"
I just got that motification via plinth:

And it is right: I _am_ trying to upgrade my FreedomBox right now, so actually it is no wonder that installing a new app does not work. But instead of trying and failing plinth should know from the start and do one of those things:
1. Gray out installation options with the reason
2. Display a permanent notification during the time of an upgrade
3. Immediat

[2016-10-11 18:29] sakshinagpal07 commented on #621
I am new to github can anyone assist me for this bug??

[2016-10-11 19:00] fonfon commented on #621
The first part is about improving the debian wiki page of FreedomBox at https://wiki.debian.org/FreedomBox/Plinth - it has nothing to do with github directly.
You'd have to register there to be able to edit the debian wiki. Plinth is the web administration frontend of FreedomBox. If you have it somewhere running make up-to-date screenshots and replace the outdated screenshots of the wiki page.

Th

[2016-10-12 09:54] mridulnagpal commented on #621
i want to be assigned to this issue

[2016-10-14 17:23] mridulnagpal opened #626 "Unable to setup vagrant and virtualbox installed both virtualbox and vagrant when i do vagrant up it asks for a vagrantfile. what do i do?"

[2016-10-14 19:04] jvalleroy commented on #626
The Vagrantfile is provided in this repo (https://github.com/freedombox/Plinth/blob/master/Vagrantfile). Are you running "vagrant up" inside the plinth project folder?

[2016-10-14 19:12] jvalleroy commented on #554
@arghyatiger How far have you gotten?

Do you need help setting up a development environment, or help understanding this issue, or something more specific?

[2016-10-14 20:06] mridulnagpal commented on #626
Yes i am
and it shows these 2 errors
 *The following settings shouldn't exist: post_up_message
* The box 'freedombox/plinth-dev' could not be found.

[2016-10-14 20:21] jvalleroy commented on #626
@mridulnagpal Which version of vagrant are you using?

If needed, you can edit the Vagrantfile and comment out or remove lines 28-33. Maybe that will work.

[2016-10-14 20:25] mridulnagpal commented on #626
I removed the lines 28-33
now when i vagrant up it shows one error
 The box 'freedombox/plinth-dev' could not be found.

[2016-10-14 20:26] mridulnagpal commented on #626
version for vagrant is 1.4.3

[2016-10-14 21:46] arghyatiger commented on #554
sir, To be very honest, since i just started, i would require help from the
scratch. I.e from setting up the development environment.

On Sat, Oct 15, 2016 at 12:42 AM, James Valleroy <notifications@github.com>
wrote:

[2016-10-15 13:42] jvalleroy commented on #624
I think the issue is due to Windows-style line endings. Maybe you can disable the conversion that git does (git config --global core.autocrlf false) and then re-clone the plinth repository.

[2016-10-17 19:06] gnoutchd opened #627 "root partition expansion crashes"
Hitting "Expand Root Partition" in the "Disks" module dies with this:

    Error expanding partition: ('disks', '', "Warning: Partition /dev/sdb2 is being used. Are you sure you want to continue?\nError expanding partition: Command '['parted', '--align=optimal', '--script', '/dev/sdb', 'unit', 'B', 'resizepart', '2', '7860125695']' returned non-zero exit status 1\n")

Likewise, in SSH:

    gnoutc

[2016-10-17 19:25] gnoutchd opened #628 "transmission: initial password fails to work"
Immediately after installing transmission on a fresh freedombox, the "username" and "password" fields on the transmission configuration page in plinth are populated with something that looks like a generic username ("transmission") and a long random-looking alphanumeric password.  Seeing this, I assumed that plinth generated a suitable username and password for me to use.  However, I am unable to

[2016-10-19 02:19] jvalleroy commented on #266
When a module is uninstalled, should all of its managed_packages (that are not managed by other enabled modules) be removed?

This might lead to some unexpected results, for example roundcube module which has sqlite3. There might be some other package installed (outside of plinth) that depends on sqlite3 and would also get removed then.

[2016-10-19 13:42] jvalleroy commented on #554
@arghyatiger You will need these tools to get started:
- git, to clone the plinth repository.
- vagrant, so you can test without changes to your system.
- virtualbox, which runs the VM for vagrant.

[2016-10-19 18:17] arghyatiger commented on #554
alright i will start work on it right away !

On Wed, Oct 19, 2016 at 7:12 PM, James Valleroy <notifications@github.com>
wrote:

[2016-10-20 12:56] #626 closed

[2016-10-20 17:01] mridulnagpal opened #629 "Issue regarding virtualbox setting up of Plinth"
I downloaded virtualbox and vagrant and did vagrant up and am getting this error
![screenshot from 2016-10-20 22 29 11](https://cloud.githubusercontent.com/assets/22350740/19569854/dfaa79a4-9714-11e6-9f69-85545c509bc6.png)

[2016-10-21 11:34] jvalleroy commented on #629
@mridulnagpal I think you just need the vagrant-virtualbox plugin. Try running this command:
[code]

[2016-10-21 19:37] #629 closed

[2016-10-21 20:34] mridulnagpal commented on #550
I am a student of IIIT-H and I would like to work on this issue

[2016-10-26 01:10] jvalleroy commented on #621
Fixed in #630.

[2016-10-26 01:10] #621 closed

[2016-10-26 10:36] mridulnagpal commented on #594
I want to work on this issue how do I proceed. Is there something specific you want me to add

[2016-10-28 21:47] jvalleroy commented on #550
Fixed in #633.

[2016-10-28 21:47] #550 closed

[2016-10-29 14:53] sounak98 commented on #551
I am a beginner and I want to take up this issue. Can you explain more about the issue?

[2016-10-31 16:09] jvalleroy commented on #551
@sounak98 See the list of reserved usernames here: https://github.com/freedombox/Plinth/blob/master/plinth/modules/users/forms.py#L31

We want to split up that list among several modules. (The modules are all the folders under https://github.com/freedombox/Plinth/tree/master/plinth/modules).

We will also need to change this function: https://github.com/freedombox/Plinth/blob/master/plinth/modules

[2016-10-31 16:16] jvalleroy commented on #594
@mridulnagpal You can work on any of the tasks listed. I think the first one (apps that require login) is the most important though.

[2016-10-31 22:56] mridulnagpal commented on #594
i have sent a PR regarding 2 issues of letsencrypt already will work on
#594 now

On 31-Oct-2016 9:46 PM, "James Valleroy" <notifications@github.com> wrote:

[2016-11-01 02:43] mridulnagpal commented on #578
I would like to work on this issue

[2016-11-01 13:35] mridulnagpal commented on #594
Could you specify the apps that require a login

[2016-11-01 16:20] jvalleroy commented on #594
@mridulnagpal These all require a login currently: deluge, openvpn, quassel, radicale, repro, roundcube, shaarli, transmission, ttrss, xmpp. (I do recommend that you check to confirm these, i.e. using vagrant.)

In addition, let's hide privoxy unless the user is logged in (for privacy reasons).

[2016-11-01 17:49] jvalleroy opened #636 "letsencrypt: Optionally provide email address during registration"
This can be used to receive email notices before the certificates expire and need to be renewed:
https://letsencrypt.org/docs/expiration-emails/

[2016-11-02 10:02] FedericoCeratto opened #637 "[836155] plinth: Add essential packages as dependencies"

[2016-11-02 10:02] FedericoCeratto commented on #637
BTS_msg_id: <147260547721.25831.5323883568570926922.reportbug@testhost.testdomain>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is a multi-part MIME message sent by reportbug.

--===============5441120238027865892==
Content-Type: text/plain; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: inline

Package: plinth
Severity: wishlist
Tags: patch

[2016-11-02 10:02] FedericoCeratto commented on #637
BTS_msg_id: <d13282ab-735e-2a49-f4db-1ceb9a09e27f@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--kmEX1tPNPSBJLfgSoWF4dhfOLeprCuGfj
Content-Type: multipart/mixed; boundary="7BWVKT8KQKjVRAQAlgv68pFve7k8BsI8J"
From: James Valleroy <jvalleroy@mailbox.org>
To: 836155@bugs.debian.org
Message-ID: <d13282ab-735e-2a49-f4db-1ceb9

[2016-11-02 10:02] FedericoCeratto commented on #637
BTS_msg_id: <3cdf8fd1-254a-911d-8e52-869e0b35cda5@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--RM0WCl23IgA46kFQ8aBn3ee1vsaUekLqw
Content-Type: multipart/mixed; boundary="EA5l5ihUjVIUF2E8FftwABvA9hTARDllo";
 protected-headers="v1"
From: James Valleroy <jvalleroy@mailbox.org>
To: 836155-done@bugs.debian.org
Message-ID:

[2016-11-02 10:02] FedericoCeratto commented on #637
BTS_msg_id: Bug archived.
BTS author: Debbugs Internal Request <owner@bugs.debian.org>

# A New Hope
# A long time ago, in a galaxy far, far away
# something happened.
#
# Magically this resulted in the following
# action being taken, but this fake control
# message doesn't tell you why it happened
#
# The action:
# Bug archived.
thanks
# This fakemail brought to you by your local debbugs
# admini

[2016-11-02 10:02] #637 closed

[2016-11-02 10:02] FedericoCeratto opened #638 "[837206] plinth: Change ownership of plinth.sqlite3 to plinth:plinth from root:root"

[2016-11-02 10:02] FedericoCeratto commented on #638
BTS_msg_id: <147347465671.26119.4420566526543096567.reportbug@kennel.sunil.freedombox.rocks>
BTS author: Sunil Mohan Adapa <sunil@medhas.org>

Package: plinth
Version: 0.10.0-1
Severity: normal

-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

In the upcoming release of Plinth, Plinth runs as non-root user 'plinth'.
Everything is ready for it, however, for users upgrading from older version,
the o

[2016-11-02 10:02] FedericoCeratto commented on #638
BTS_msg_id: <c7b51a2e-eb7b-8602-f94b-53f1206bc298@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--eV3Saw2ndbeg09Dx26xMct0uxFJUpUiKe
Content-Type: multipart/mixed; boundary="mDwwEFiF65jIUEvJx3JbANbLNeLaKpXDe";
 protected-headers="v1"
From: James Valleroy <jvalleroy@mailbox.org>
To: 837206@bugs.debian.org
Message-ID: <c7b5

[2016-11-02 10:02] FedericoCeratto commented on #638
BTS_msg_id: <10cf8d54-2a5a-6fba-94b0-2fbdd0e9a63a@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--j3SiEkHjN3eeiS5dEHOW92S8imRkH6ceq
Content-Type: multipart/mixed; boundary="0ioOWK85OeMpIK3DOXJxGh8M5ssKQ4GXW";
 protected-headers="v1"
From: James Valleroy <jvalleroy@mailbox.org>
To: 837206@bugs.debian.org
Message-ID: <10cf

[2016-11-02 10:02] FedericoCeratto commented on #638
BTS_msg_id: <17fbac19-daeb-0e22-88ce-1f7d71a21234@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--NGhXpuq714Ku1qNmGQVjxwjmUVKfnDuDv
Content-Type: multipart/mixed; boundary="BNC49A71tE2hbWNlpohpAgTNedTuGA2BB";
 protected-headers="v1"
From: James Valleroy <jvalleroy@mailbox.org>
To: 837206@bugs.debian.org
Message-ID: <17fb

[2016-11-02 10:03] FedericoCeratto commented on #638
BTS_msg_id: <ef21a30d-3b70-84c2-359b-a9cc91a166e0@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--bK842rvJWLCxwqgbjSh9CQtJe0gXpR1Mt
Content-Type: multipart/mixed; boundary="VK3dW6mE1NmqLp4SOOsvsqEEDVWGCRKpt";
 protected-headers="v1"
From: James Valleroy <jvalleroy@mailbox.org>
To: control@bugs.debian.org
Message-ID: <ef2

[2016-11-02 10:03] FedericoCeratto commented on #638
BTS_msg_id: <27a40e51-5bf9-7b7e-9760-33fe5e2326a0@medhas.org>
BTS author: Sunil Mohan Adapa <sunil@medhas.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--uHn0UWeLBQhMwmq9TCeSVNoQlKvvoH5R6
Content-Type: multipart/mixed; boundary="t3kLf4KtVUc45o6CkQotxkV3r7aMwWOak";
 protected-headers="v1"
From: Sunil Mohan Adapa <sunil@medhas.org>
To: James Valleroy <jvalleroy@mailbox.org>,
 "837

[2016-11-02 10:03] FedericoCeratto commented on #638
BTS_msg_id: <6c48b0fa-b04a-5460-fccf-7408fed02438@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--COfNi1hG7JUvXcHgCEMcUrtmUiQllN1D5
Content-Type: multipart/mixed; boundary="CiFkmA1mBBlvhgh2iFwV41W3dHjLG4RvH";
 protected-headers="v1"
From: James Valleroy <jvalleroy@mailbox.org>
To: 837206@bugs.debian.org
Message-ID: <6c48

[2016-11-02 10:03] FedericoCeratto commented on #638
BTS_msg_id: <E1bpeGn-00019Z-En@franck.debian.org>
BTS author: Federico Ceratto <federico@debian.org>

Source: plinth
Source-Version: 0.11.0+ds-1

We believe that the bug you reported is fixed in the latest version of
plinth, which is due to be installed in the Debian FTP archive.

A summary of the changes between this version and the previous one is
attached.

Thank you for reporting the bug, whic

[2016-11-02 10:03] FedericoCeratto commented on #638
BTS_msg_id: Bug archived.
BTS author: Debbugs Internal Request <owner@bugs.debian.org>

# A New Hope
# A long time ago, in a galaxy far, far away
# something happened.
#
# Magically this resulted in the following
# action being taken, but this fake control
# message doesn't tell you why it happened
#
# The action:
# Bug archived.
thanks
# This fakemail brought to you by your local debbugs
# admini

[2016-11-02 10:03] #638 closed

[2016-11-02 10:03] FedericoCeratto opened #639 "[837332] plinth: Automatically add essential dependencies"

[2016-11-02 10:03] FedericoCeratto commented on #639
BTS_msg_id: <147352391156.15697.13026686278042645946.reportbug@kennel.sunil.freedombox.rocks>
BTS author: Sunil Mohan Adapa <sunil@medhas.org>

This is a multi-part MIME message sent by reportbug.

--===============6266527622488928780==
Content-Type: text/plain; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: inline

Package: plinth
Severity: wishlist
Tags

[2016-11-02 10:03] FedericoCeratto commented on #639
BTS_msg_id: <91af9c3f-18f2-b33e-2ef0-f70a6a0c2983@mailbox.org>
BTS author: James Valleroy <jvalleroy@mailbox.org>

This is an OpenPGP/MIME signed message (RFC 4880 and 3156)
--AL8RFoidUrwwVW5GjshHc2IcTvvPQhnPQ
Content-Type: multipart/mixed; boundary="46Wj7Cgq5JRGfv7h8HQ74siCvwQrlw6Ni";
 protected-headers="v1"
From: James Valleroy <jvalleroy@mailbox.org>
To: 837332@bugs.debian.org
Message-ID: <91af

[2016-11-02 10:03] FedericoCeratto commented on #639
BTS_msg_id: <E1bpeGn-00019f-Fb@franck.debian.org>
BTS author: Federico Ceratto <federico@debian.org>

Source: plinth
Source-Version: 0.11.0+ds-1

We believe that the bug you reported is fixed in the latest version of
plinth, which is due to be installed in the Debian FTP archive.

A summary of the changes between this version and the previous one is
attached.

Thank you for reporting the bug, whic

[2016-11-02 10:04] FedericoCeratto commented on #639
BTS_msg_id: Bug archived.
BTS author: Debbugs Internal Request <owner@bugs.debian.org>

# A New Hope
# A long time ago, in a galaxy far, far away
# something happened.
#
# Magically this resulted in the following
# action being taken, but this fake control
# message doesn't tell you why it happened
#
# The action:
# Bug archived.
thanks
# This fakemail brought to you by your local debbugs
# admini

[2016-11-02 10:04] #639 closed

[2016-11-02 18:06] mridulnagpal commented on #578
https://github.com/freedombox/Plinth/pull/640
I have put up a PR regarding the issue

[2016-11-02 18:07] mridulnagpal commented on #567
https://github.com/freedombox/Plinth/pull/635
I have put up a PR regarding the issue

[2016-11-03 02:50] jvalleroy commented on #578
Fixed in #640.

[2016-11-03 02:50] #578 closed

[2016-11-03 05:57] harry-7 commented on #604
I would like to work on this issue.

[2016-11-03 22:44] mridulnagpal commented on #301
I would like to work on this issue

[2016-11-04 02:47] jvalleroy commented on #529
Fixed in #634.

[2016-11-04 02:47] #529 closed

[2016-11-04 08:31] mridulnagpal commented on #301
@jvalleroy I did not completely get the issue what is the problem exacty?

[2016-11-04 10:04] mridulnagpal commented on #594
@jvalleroy Which page do I remove them from if the user has not logged in

[2016-11-04 11:29] jvalleroy commented on #301
@mridulnagpal Here is a test procedure that shows the issue.
1) Starting with a fresh FreedomBox vagrant image:
Hostname: freedombox
Domain Name: (empty)
[code]
2) Set domain name to "example.com":
[code]
3) Set domain name to empty "":
[code]
When a domain name is set and then cleared, /etc/hosts should be set back to match the original from step 1. So in the 2nd line, we should remove the "freed

[2016-11-04 11:33] jvalleroy commented on #594
@mridulnagpal It is the front page, which is called "index".
The view is here: https://github.com/freedombox/Plinth/blob/master/plinth/views.py#L36
And the template: https://github.com/freedombox/Plinth/blob/master/plinth/templates/index.html

This page uses the "shortcuts" dict which is defined in https://github.com/freedombox/Plinth/blob/master/plinth/frontpage.py. I think you will need to add a

[2016-11-04 14:14] mridulnagpal commented on #301
@jvalleroy https://github.com/freedombox/Plinth/pull/642
I have resolved the issue now it will remove $hostname. from the second line and only print the hostname

[2016-11-04 17:23] mridulnagpal commented on #489
@jvalleroy I would like to work on this issue...

[2016-11-06 19:23] mridulnagpal commented on #301
@jvalleroy @fonfon You may now close the issue as #642 has been merged and the issue has been resolved

[2016-11-06 19:24] jvalleroy commented on #301
Fixed in #642.

[2016-11-06 19:24] #301 closed

[2016-11-07 05:04] harry-7 commented on #604
@jvalleroy . I have a few questions
- Are we going to add email to model or ldap?
- If we are going to add it to model where is the model corresponding to user? I think we are using an inbuilt one do I have to modify it ?

[2016-11-07 14:15] jvalleroy commented on #604
@harry-7 I think it will need to be stored in ldap. That way, apache or another service can retrieve a user's email, or find a user by email address.

Also @SunilMohanAdapa is working on monkeysphere authentication, we should make sure the email is stored in a way that can be useful for that feature.

[2016-11-08 00:59] jvalleroy commented on #567
Fixed in #641.

[2016-11-08 00:59] #567 closed

[2016-11-08 00:59] jvalleroy commented on #539
Fixed in #641.

[2016-11-08 00:59] #539 closed

[2016-11-09 10:28] mridulnagpal commented on #594
How do I check if a person is logged in or not??

[2016-11-10 14:24] jvalleroy commented on #594
@mridulnagpal I found this answer: http://stackoverflow.com/questions/14219784/django-registration-how-do-i-check-whether-the-user-is-logged-in-before-display

[2016-11-11 11:33] fonfon opened #644 "Make Radicale easier usable"
Right now it's a bit tedious to actually use the Radicale service. Which URLs do I have to use, how can I create a calendar or address book, which calendars/address books do exist on the server?

It would be helpful to display such information on the radicale plinth page, or even allow deleting/creating calendars and address books there.

[2016-11-12 00:46] jvalleroy commented on #594
@mridulnagpal Also see the base template for an example:
https://github.com/freedombox/Plinth/blob/master/plinth/templates/base.html#L112

[2016-11-12 09:11] mridulnagpal commented on #594
How do I select specific apps that need the login access?

[2016-11-12 13:49] jvalleroy commented on #594
@mridulnagpal I would suggest adding a 'login_required' parameter to add_shortcut():
https://github.com/freedombox/Plinth/blob/master/plinth/frontpage.py#L30

Then in the index template, if login_required is true and user.is_authenticated is false, skip displaying the current shortcut.

[2016-11-12 14:55] mridulnagpal commented on #594
@jvalleroy I have made some changes and put up a PR please have a look at it
#647

[2016-11-15 16:10] SunilMohanAdapa commented on #204
Well, we need to reach an agreement on the differentiation required. Since we have the text and since we not using colour as the only cue, our current implementation is fine. I am closing this issue.  But please feel free to reopen to add more to the discussion.

[2016-11-15 16:10] #204 closed

[2016-11-16 01:58] mridulnagpal commented on #594
@jvalleroy How do I proceed to the Second task ? I did not understand what I have to do.

[2016-11-16 16:26] jvalleroy opened #650 "ttrss: Show status block"
I saw an issue where my feeds stopped updating for a while. It turned out that the tt-rss feed update service had stopped running for some reason.

The status block is currently disabled for ttrss's ServiceView: https://github.com/freedombox/Plinth/blob/master/plinth/modules/ttrss/urls.py#L33

I suggest that we enable the status block, to make it clear if the update service is running.

[2016-11-17 07:30] Pk13055 commented on #650
I would like to work on this issue.

[2016-11-17 08:07] Pk13055 commented on #650
show_status_block has been changed from 'False' to 'True'.

[2016-11-17 15:00] Pk13055 commented on #650
show_status_block has been changed from 'False' to 'True'.

[2016-11-17 17:16] jvalleroy commented on #650
Fixed in #651.

[2016-11-17 17:16] #650 closed

[2016-11-17 22:53] mridulnagpal commented on #594
@jvalleroy #652 for subtask 2 (Adding configure button for apps on frontpage)

[2016-11-19 13:47] mridulnagpal commented on #623
@jvalleroy could you tell me more about the problem

[2016-11-19 14:05] mridulnagpal commented on #623
@jvalleroy #653 Please check this PR once.

[2016-11-20 13:36] jvalleroy opened #654 "Prompt to restart services/system when needed"
The "needrestart" package can show if any services should be restarted after package upgrades, and can restart those services. It can also report if the system should be restarted to use a new kernel.

Maybe this can be incorporated into the upgrades module.

[2016-11-20 15:30] jvalleroy commented on #623
@mridulnagpal Here's a test case to demonstrate the issue:
1. Start with a fresh vagrant image (vagrant up && vagrant provision).
2. Go to https://localhost:4430 and complete the first boot process.
3. Log out from Plinth.
4. Go to https://localhost:4430/plinth/apps/xmpp/jsxc/. Although you are not logged in, you can still install the xmpp module.
![plinth-jsxc-install](https://cloud.githubusercon

[2016-11-20 17:16] jvalleroy commented on #606
To add some detail to this:
* Augeas' Php lens can be used to modify the configuration in /etc/minetest/minetest.conf.
* These are the packaged mods I found that can be installed with just the server (don't require the client):
  * minetest-mod-advspawning
  * minetest-mod-animalmaterials
  * minetest-mod-animals
  * minetest-mod-mesecons
  * minetest-mod-mobf-core
  * minetest-mod-mobf-trap
  * m

[2016-11-22 12:50] mridulnagpal commented on #594
#658 for larger icons

[2016-11-22 22:52] mridulnagpal commented on #606
@jvalleroy I want to work on this issue can you tell me how to proceed

[2016-11-23 20:38] mridulnagpal commented on #434
@jvalleroy
I would like to work on this issue. How do I proceed?

[2016-11-24 17:10] jvalleroy commented on #606
@mridulnagpal One task is to add a configuration form to the minetest page, where the user can set values for the options I mentioned. Then to actually change the configuration, you can use the Php lens from Augeas. As an example I was able to use this lens to configure repro:
https://github.com/freedombox/Plinth/pull/589/files#diff-3f2f4981582b4deb4dc5bb447ea6f6a8R181

The 2nd task is to just add

[2016-11-24 17:38] mridulnagpal commented on #594
@jvalleroy #659 for app view , How do I proceed for frontpage form ,  Is there anything specific thing you want me to do or I just add new option in settings tab for frontpage configuration

[2016-11-25 12:28] mridulnagpal commented on #548
@SunilMohanAdapa What is the file for Plinth Django Settings ?

[2016-11-25 14:52] mridulnagpal commented on #431
I would like to work on this issue. What should I change box_name to ?

[2016-11-28 17:05] PascalHeynmoeller commented on #466
For me the plinth modul looks broken, same error here. When dynamicdns stop working I restored the file /etc/ez-ipupdate/ez-ipupdate.inactive from the backups, because plinth modul showed wrong (no) setting in Webfrontend and the file was empty. After restoring the file  executing: sudo /usr/share/plinth/actions/dynamicdns update, the nslookup failure isn't displayed anymore. So I assume it fails

[2016-11-28 17:22] steglicd commented on #466
@PascalHeynmoeller
"At the moment it is working again also when no settings are displayed in plinth!"

So the update works (even if you change your WAN IP and don't invoke the ez-ipupdate command afterwards) but the display is wrong?

Can you please post the content of the files under /etc/ez-ipupdate/ (without passwords and domains).

[2016-11-28 19:40] jvalleroy commented on #431
@mridulnagpal We can use "project_name".

[2016-11-28 19:44] jvalleroy commented on #434
@mridulnagpal Do you have experience with DNS servers? I guess bind is the most popular, but there are several others that could be considered.

We will need a plinth module that installs the DNS server package. But we also need to consider:
1. A default configuration that will work for most FreedomBox users.
2. Which configuration controls should be available through Plinth UI.

Sorry this is ver

[2016-11-28 20:22] steglicd commented on #466
sounds like a problem with access rights.
/etc/sudoers.d/plinth contains this line:
```plinth    ALL=(ALL:ALL) NOPASSWD:/usr/share/plinth/actions/*```
can you confirm this?

what if you add this line to line 333 of /usr/share/plinth/actions/dynamicdns:
```cat ${HELPERCFG} > /tmp/debug 2>&1```

Then open the status page and check the ```/tmp/debug``` file.

[2016-11-28 20:47] PascalHeynmoeller commented on #466
plinth    ALL=(ALL:ALL) NOPASSWD:/usr/share/plinth/actions/*
confirmed
cat: /etc/ez-ipupdate/ez-ipupdate-plinth.cfg: Permission denied

It stop working on upgrade to plinth 0.11 when user was changed!?

[2016-11-28 21:09] steglicd commented on #466
maybe related to this:
https://github.com/freedombox/Plinth/pull/588/commits/552ded31d9eb698f71d9b8c9aaf7ade874b8ddfb
The files where world readable in the past and then restricted to root only. But as /usr/share/plinth/actions/dynamicdns should be called with sudo prefix, this should not hurt,

The question is:
1. why is the content of /etc/ez-ipupdate/ removed?
2. after restoring the config file

[2016-11-28 21:19] jvalleroy commented on #466
@steglicd @PascalHeynmoeller There's an issue in Plinth v0.11 because the dynamicdns action is run without sudo. This issue is fixed in https://github.com/freedombox/Plinth/commit/5c75eb9649706d09ab33bf62b1cd71b1fd71e9f5 which will be included in the next release.

[2016-11-28 21:24] steglicd commented on #466
@jvalleroy and do you know the reason why config files where broken in first place? So @PascalHeynmoeller  reported empty files under ```/etc/ez-ipupdate/```.

BTW.: where do I get recent images? This [places](https://wiki.debian.org/FreedomBox/Manual#FreedomBox.2FDownload.Downloading_on_Debian) seems to be obsolete?

[2016-11-28 21:33] PascalHeynmoeller commented on #466
OK there we have a solution for the display problem. thanks.
@jvalleroy did you checked your content in /etc/ez-ipupdate/ez-ipupdate.inactive ? Would be nice to verify if I was the only one who had scrambled configs.

[2016-11-28 21:38] jvalleroy commented on #466
@steglicd Not sure about the broken config...

The latest official images are still the 0.9 images, but you can upgrade plinth to 0.11. If you use vagrant, I did upload a new image for 0.11.

I do have some regular image builds uploaded to https://jvalleroy.mooo.com/~jvalleroy/freedombox/weekly/testing/ but they are completely untested.

[2016-11-28 21:43] PascalHeynmoeller commented on #466
The script creates configs in the beginning. When it cant read them but has writing rights at the directory it tries to create new ones.
Just a thought! Normaly it couln't overwrite them unless commands in the script are executed with different rights.

[2016-11-29 19:22] jvalleroy opened #664 "Logging option"
It's been proposed to disable logging on FreedomBox altogether:
https://github.com/freedombox/freedombox-todos/issues/5
I think a reasonable first step would be to make it an option.

I wonder if we can also disable logging for various applications besides Plinth.

[2016-11-29 23:20] mray commented on #664
having a consistent indicator to get an overview of what gets logged might be a good idea, too.

[2016-11-30 16:28] mray opened #666 "Plinth UI overhaul"
I think plinth is lacking behind other comparable projects like cozy.io or nexcloud/owncloud in terms of a ui. It currently is a vanilla boostrap and "does the job", but could do much better.

I plan to work on a new iteration an would like to gather feedback
* what are problems you would like to see adressed?
* what do you consider to be good inspirations for a next UI iteration of plinth?

[2016-11-30 20:12] mray commented on #666
*other approaches*
![cozy_screenshot](https://cloud.githubusercontent.com/assets/164785/20762383/76d67eaa-b726-11e6-9276-93652c330ebb.png)
![selection_021](https://cloud.githubusercontent.com/assets/164785/20769321/b2c4faca-b741-11e6-803b-04efadf00bd8.png)

[2016-12-01 12:17] mridulnagpal commented on #431
@jvalleroy Do I change all the occurences of box_name to project_name ?

[2016-12-01 13:38] mray commented on #666
Problems with the current UI that come to my mind

- the overall look is "prefabricated boostrap" and does not feel particularly FreedomBox-ish
- the concept of "apps" is not separated from the system itself visually
- recurring interaction options (install, enable/disable, setup) are not obvious
- categorization is almost non existing
- the current presentation of apps does not scale (a list is j

[2016-12-03 22:09] jvalleroy opened #667 "users: Don't allow only user to be deleted"
Currently it's possible to delete the only user in Plinth. This can lead to being locked out of the system.

[2016-12-04 07:13] mridulnagpal commented on #667
@jvalleroy On it

[2016-12-04 07:31] mridulnagpal commented on #667
#668

[2016-12-04 16:09] jvalleroy opened #669 "frontpage: Configure links are broken"
Looks like the links are missing the /plinth prefix.

[2016-12-04 16:26] jvalleroy commented on #669
Strangely, the links are correct for me now (after running "vagrant provision" again).

[2016-12-04 18:51] jvalleroy commented on #489
Fixed in #662.

[2016-12-04 18:51] #489 closed

[2016-12-04 19:01] jvalleroy commented on #666
I think one issue is that apps are always shown in the main interface, even if they aren't installed or being used. And also there's a chance that some apps shown won't even be installable (like shaarli currently).

So it might make sense to have a single page under the system configuration that would handle install/setup or  uninstall of apps. Maybe a bit like Gnome's Software Center. Then only t

[2016-12-04 19:11] jvalleroy commented on #667
Fixed in #668.

[2016-12-04 19:11] #667 closed

[2016-12-04 19:23] mridulnagpal commented on #669
@jvalleroy Seems to work fine by me as well.

[2016-12-04 19:31] mridulnagpal commented on #599
@jvalleroy Where is the file in which SELF_URL_PATH is defined

[2016-12-04 20:09] jvalleroy commented on #599
@mridulnagpal The value is set by the ttrss action script, when the setup command is run:
https://github.com/freedombox/Plinth/blob/master/actions/ttrss#L62

So we will probably want to change the setup command parser, to take an argument for the domain to use.

[2016-12-04 20:22] mray commented on #666
Question 1: Is there a way to detect which apps won't be installable beforehand? - if so, can FreedomBox provide reasons for that shortcoming?

Question 2: Does plinth *ALWAYS* know when an app is in the process of getting installed?

Currently my plan is to really dumb this down to this:

1. list apps that you could start using
2. enable the ones you like
3. install the app first, if necessary
4.

[2016-12-04 21:02] mridulnagpal commented on #594
@jvalleroy Could the specify the details for the frontpage form

[2016-12-05 02:06] jvalleroy commented on #594
@mridulnagpal A basic configuration form could just have a drop-down menu, to select what is shown at the web root (https://mydomain). The default option is to use Plinth's front page. The other options would include each enabled web app (including each wiki or blog).

But the actual configuration is stored in this file:
https://sources.debian.net/src/freedombox-setup/0.9.3/data/etc/apache2/conf-a

[2016-12-06 00:30] jvalleroy opened #671 "Error when initializing modules"
I missed this issue when merging in a recent change, to only add services (for the firewall) for modules that have completed setup. Strangely I didn't see this issue at all when testing in vagrant.

When running Plinth out of the source folder, I get this error:
[code]

It's due to these lines in the init() for privoxy (and other modules):
[code]

[2016-12-06 12:13] mray commented on #666
Looking at [other ideas in the wiki](https://wiki.debian.org/FreedomBox/Design/UserInterface#Ideas) makes me don't have the resources to come up with such a dedicated interface. We need to stick something generic and rely mostly on what other projects offers as webinterface.

[2016-12-06 14:06] jvalleroy commented on #666
@mray We can detect if packages are available. But to ensure the information is up-to-date, we would need to run "apt update" which can a few seconds, or longer.

We can always check each module to see if an install process is on-going.

[2016-12-06 14:13] mray commented on #666
My concern wasn't availability. It is awareness of success chances. For example: Turns out I cannot install the "disks" module, because my build for raspberry pi does not support the right partition type.
Similarly there might be apps/modules that won't work because I have no wireless hardware. If possible, FreedomBox should let me know IN ADVANCE that those things probably won't work.

What about

[2016-12-06 20:22] 500swapnil commented on #671
Hi I would like to help with this issue. Can u tell me how to proceed?

[2016-12-06 22:37] jvalleroy commented on #666
@mray We could add logic to detect cases like that, as long as we understand the specific requirements for each case.

For question 2, yes, each module has a variable to track its own install process, and we can check that whenever.

[2016-12-06 22:58] jvalleroy commented on #671
@500swapnil You will need to look at each module that was modified in this commit: https://github.com/freedombox/Plinth/commit/941259df1ebf17fb8869e910f1ac66e8847ecbc1
Each module has a file ```plinth/modules/<module_name>/__init__.py```, which contains an ```init()``` function.
See which ones have the ```add_shortcut()``` line at the end of ```init()```.

For each of those, we just need to add an

[2016-12-06 23:12] jvalleroy commented on #669
Yep, seems to just be an artifact of running development plinth on top of 0.11 vagrant install. I'll close this for now.

[2016-12-06 23:19] jvalleroy commented on #669
Actually I'm seeing this issue again, but very strange, some of the links are correct (with /plinth prefix) and some of them are missing it.

We use django.urls.reverse to get these URLs. I'm thinking we might need to use reverse_lazy instead. I'll do some testing and see if that affects it.

[2016-12-07 00:06] jvalleroy commented on #594
Looks like the icon spacing issue isn't completely fixed yet. Depending on the number of icons, sometimes the JSXC and XMPP icons are stacked so that there's empty space next to the XMPP icon.
![screenshot from 2016-12-06 19-03-39](https://cloud.githubusercontent.com/assets/178876/20949338/cdfa4882-bbe6-11e6-91b1-8c7433ddcfa8.png)

[2016-12-07 03:31] jvalleroy commented on #594
I think this only happens when the icon text takes up 2 lines (like Radicale in the screenshot).

[2016-12-07 10:08] 500swapnil commented on #671
#672

[2016-12-07 10:50] jvalleroy commented on #671
Fixed in #672.

[2016-12-07 10:50] #671 closed

[2016-12-07 13:05] mray commented on #594
why not make every text using two lines:

[2016-12-08 12:00] jvalleroy commented on #608
Fixed in #665.

[2016-12-08 12:00] #608 closed

[2016-12-08 14:45] jvalleroy commented on #669
Fixed in #674.

[2016-12-08 14:45] #669 closed

[2016-12-08 18:30] 500swapnil commented on #543
I would like to help with this one.

[2016-12-08 19:21] jvalleroy opened #676 "Consider using tor-instance-create"
Currently when the Tor module is setup, we make changes to /etc/tor/torrc. But since that file is owned by the tor debian package, this can cause issues during upgrade (conffile prompt).

The tor package includes a script called tor-instance-create, which sets up a new user and home directory with its own configuration file. So for example we can have a service named tor@plinth, and keep our confi

[2016-12-09 05:43] mridulnagpal commented on #676
@jvalleroy So do we just change the TOR_CONFIG variable??

[2016-12-09 05:58] SunilMohanAdapa commented on #543
@500swapnil , essentially we would like the librejs tool to automatically recognize that Plinth is using Free Software Javascript. In order for this to happen, we need to explicitly provide information to librejs.  There are many ways of doing this from a separate license file to inline markers for librejs to read.  Please investigate and compare the various ways available for us to work with libr

[2016-12-09 11:14] SunilMohanAdapa opened #677 "Let users create first user from terminal"
Users who use a Raspberry Pi image and boot into the terminal, can't run the first boot wizard from the terminal. They have to use the password-in-image tool to set the password or use web interface which can be hard. Consider adding a way to let users create the first user from terminal. Two ideas have been suggested so far.
* Show a terminal with text browser so that the first boot wizard can be

[2016-12-09 21:55] mray commented on #617
Supposed I use [this tool](http://bootstrap-live-customizer.com/) - would it suffice to get the less variables?

[2016-12-10 01:53] SunilMohanAdapa commented on #617
@mray, that would be sufficient from a design point of view.

We need to be compiling the less code and create our own custom bootstrap in Plinth.  I suppose we will have to do that.

[2016-12-10 02:04] jvalleroy commented on #676
@mridulnagpal That's part of it. Also during tor setup (https://github.com/freedombox/Plinth/blob/master/actions/tor#L69), we would need to stop and disable the default tor service, and run tor-instance-create. And update the name of the service wherever it's used.

This page has details about using the tor-instance-create script: http://manpages.org/tor-instance-create/8

[2016-12-10 15:56] jvalleroy opened #679 "Apache segfault after ttrss login"
I followed https://sources.debian.net/src/apache2/2.4.23-8/debian/README.backtrace/ to setup the core dump, but /var/cache/apache2/core is still empty for some reason.

I was able to get strace on the apache child process:
[code]

Any ideas on how to get the core dump working?

[2016-12-11 05:00] indhupriya commented on #551
@jvalleroy I would like to take up this issue if it is still available.

[2016-12-11 20:47] 500swapnil commented on #543
Hey. Sorry for the delay. I think we could use JavaScript web labels method to work with librejs. It's the easiest and most efficient way to add license information. We will need to create an html file with a JavaScript web labels table.

[2016-12-12 13:15] jvalleroy opened #681 "List modules from command line"
We should be able to get the list of installed modules from the plinth command line. I'd suggest the following:
- plinth --list-modules --> Lists all modules.
- plinth --list-modules essential --> Lists essential modules only.
- plinth --list-modules optional --> Lists optional modules only.

This is to support https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=847680.

[2016-12-13 17:00] mridulnagpal commented on #681
@jvalleroy I'd like to give it a shot

[2016-12-13 17:09] jvalleroy commented on #681
@mridulnagpal Ok! I think the only changes will be in ```plinth/__main__.py```.
- Add an argument to the parser: https://github.com/freedombox/Plinth/blob/master/plinth/__main__.py#L44
- Add a new function that prints the list for all, essential, or optional modules, and then exits.
- In main(), check the argument value, and if it's set, call the function.
- The modules can be accessed through mod

[2016-12-14 20:34] jvalleroy commented on #681
Fixed in #682.

[2016-12-14 20:34] #681 closed

[2016-12-15 10:50] mray opened #683 "failed update notification missing"
Whenever Plinth was supposed to trigger an update - be it manually or due to auto-upgrade being enabled the user needs to be informed if things don't work. Also we need to guide towards solutions and not just have a log file that says: "ERROR Cache has broken packages, exiting"
Having out of date packages can be a serious issue.

I'm thrown off by this as my attempt to ssh into my machine and "sud

[2016-12-15 16:48] jvalleroy opened #684 "Add script to create new module"
When creating a new Plinth module, I usually copy a lot of code from other modules, and then modify it as needed. It would be nice to have a script that you can run like ```./create-module <name>``` that will create all the boilerplate that is common for modules.

[2016-12-15 18:59] mray commented on #683
trying to update via ssh "sudo apt-get update" told me to "sudo apt-get -f install", after that i decided to "apt-get upgrade", then it failed to fetch upgrades saying "Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?", I did "sudo apt-get update --fix-missing" and after that "apt-get upgrade" again.
This seems to have helped, I just found out on irc that "dpkg --

[2016-12-15 22:40] jvalleroy opened #685 "Add TURN/STUN server"
A TURN or STUN server running on FreedomBox can be useful for SIP clients that are behind a firewall.

There are a number of Debian packages providing TURN or STUN servers:
- coturn
- ejabberd (also supports SIP)
- resiprocate-turn-server
- rfc5766-turn-server
- stuntman-server

We will need to investigate which of these are suitable for use on FreedomBox, especially considering ease of configurat

[2016-12-18 17:13] jvalleroy commented on #267
We might consider organizing apps by "task", rather than by category.

Tasks might be phrased like:
"I want to..."
- Create a blog (ikiwiki, wordpress)
- Start a chat (ejabberd, jsxc, quassel)
- Make a voice call (mumble, repro, ejabberd)
etc. So an app can provide for multiple tasks.

[2016-12-18 17:43] mray commented on #267
I'd not use categories if they are not specific enough or if they have have only few members.

I think we have not yet reached a number of apps that make categorization sensible. We either have to use too vague categories or have too few apps per category. Depending on how we integrate categories into the UI it creates unnecessary noise.

I think our audience still *heavily* has to rely on knowing

[2016-12-18 19:53] mridulnagpal commented on #606
@jvalleroy How do we proceed on the next task?

[2016-12-18 21:07] jvalleroy commented on #606
@mridulnagpal We will need to create an actions/minetest script. It can be similar to the other python scripts in that folder. It can have a parser named "configure" with arguments like "--max_players", "--enable_pvp", "--creative_mode", "--enable_damage". It should load Augeas, configured to use the Php lens with /etc/minetest/minetest.conf.

So the first step will be to get this action script wo

[2016-12-19 16:04] jvalleroy commented on #551
@indhupriya The issue is available, but I'm not sure if @sounak98 is still working on it.

[2016-12-19 18:03] jvalleroy opened #687 "Indicator to show if you have the latest version of Plinth"
This was mentioned in the last progress call (https://wiki.debian.org/FreedomBox/ProgressCalls/2016-12-18).

After a Plinth release is announced, it's not clear when it will show up in unstable / testing / stable. So users might expect an update to happen, but it's not available for them yet.

In Help -> About, we show the current Plinth version. We can also have an indicator to show if a newer ve

[2016-12-19 18:41] jvalleroy commented on #442
@harry-7 Yes, for now at least, we can add this info to the index page for each app.

[2016-12-19 18:47] jvalleroy commented on #431
I guess the question is:
- Do we always want to refer to the project that produced the software ("FreedomBox")?
- Is there any case where we might want to refer to the box instance, using a different name?

[2016-12-19 18:52] jvalleroy commented on #543
@500swapnil That sounds fine to me. I think the JS web labels page can go in our static folder, and the base template can be modified to link to it.

[2016-12-19 18:58] 500swapnil commented on #543
Okay that'd be great!

[2016-12-19 19:17] 500swapnil commented on #543
@jvalleroy Can you tell which all versions of JavaScript we have used so I can make the page?

[2016-12-19 19:47] 500swapnil commented on #543
I have opened a PR #688. Please have a look!

[2016-12-20 14:04] mray opened #689 "XMPP server undocumented features"
It would be great to have not only necessary port information for setting up the XMPP server, but also information about using the IRC transport that obviously comes out of the box.

That said I have to research what the 'echo.myfreedombox.com' is....

[2016-12-20 14:14] mray opened #690 "User permissions based on apps"
I think it would be nice to be able to assign/withdraw access rights to all apps on a per-user basis.
Currently there are only groups like "admin" and "wiki".

[2016-12-20 22:42] jvalleroy commented on #543
Partially supported with #688. I'll open a new issue with remaining problems to be solved.

[2016-12-20 22:42] #543 closed

[2016-12-20 22:51] jvalleroy opened #691 "Some scripts still blocked by LibreJS"
I'm using icecat (https://www.gnu.org/software/gnuzilla/) to check if scripts are blocked in Plinth by LibreJS.

On Pagekite configure page:
[code]

On JSXC page:
[code]

So while our inline JS in templates is allowed, other scripts are being blocked for various reasons.

[2016-12-20 23:03] jvalleroy commented on #548
@mridulnagpal The Django settings are in ```plinth/__main__.py```:
https://github.com/freedombox/Plinth/blob/master/plinth/__main__.py#L215

[2016-12-21 10:37] mray opened #692 "XMPP Client + Server one app?"
It looks like the JSXC (client) app gets automatically installed by installing the ejabberd XMPP server app.
It is strange to not know any details like the names of the software *and* that two apps get installed, even when I only need one component.

Plinth should list two different apps and use their names instead of a generic description.

[2016-12-22 18:03] nikhilrayaprolu commented on #685
@jvalleroy I would like to take up this issue. do you want to add TURN or STUN server as a new application in the plinth interface or due you want it to be configured with the SIP server (repro) in plinth?
secondly I think it should be TURN 'and' STUN since from what I have read , a STUN  helps in discovery of the public IP of the client , where as a TURN acts as a mediator when direct connection

[2016-12-22 18:26] nikhilrayaprolu commented on #692
@mray It looks like this same issue matches with #254

[2016-12-22 19:05] jvalleroy commented on #685
@nikhilrayaprolu If we add reTurn, I think it makes sense to include that in the repro module (at least for now). I agree, we can enable both TURN and STUN if possible.

From the installation instructions, one concern is how to setup the user database. Ideally we could tie it in to LDAP. However, currently, repro also has its own user database. Can that be shared between repro and reTurn?

[2016-12-23 15:52] jvalleroy commented on #606
Fixed in #686.

[2016-12-23 15:52] #606 closed

[2016-12-23 17:14] mridulnagpal commented on #434
@jvalleroy I am working on adding BIND will post a PR soon.

[2016-12-24 19:59] nikhilrayaprolu commented on #684
@jvalleroy is there any boiler plate for apps till now?
I think writing a script is easier if we do have a boiler plate.
just generating  a copy of the boilerplate and placing the name of module whereever required may do the trick.

[2016-12-25 02:46] jvalleroy commented on #684
@nikhilrayaprolu Not exactly boiler plate, but we have instructions on the wiki that should cover the basic requirements of a module:
https://wiki.debian.org/FreedomBox/Manual/Developer

You could also pick a simple module like quassel or mumble. Those are just basic service modules, without much customization, so they should be close to a boiler plate.

[2016-12-25 10:40] nikhilrayaprolu commented on #684
@jvalleroy I am making a boilerplate initially , then generate them with  commands.

[2016-12-25 10:50] nikhilrayaprolu commented on #684
@jvalleroy can you look at  boilerplate at https://github.com/nikhilrayaprolu/plinthmodule-boilerplate and make changes which are required.

[2016-12-26 03:22] SunilMohanAdapa commented on #447
@fonfon Good to know you are working this issue again.  Recently, there is an introduction of framework to add shortcuts into the front page.  This mostly shows up as `add_shortcut()` in a given module called from `init()`, `enable()` and `disable()`. Perhaps `add_shortcut()` could be made part of the base class and automatically called at appropriate times giving the app implementer the ability t

[2016-12-26 18:41] jvalleroy opened #695 "ttrss: Unable to connect to database"
I tested a recent image I built from Debian testing, running Plinth v0.12.0. After installing ttrss, the service is not running:
[code]
Postgres seems to be running ok:
[code]
Also /etc/tt-rss/database.php looks like it has correct settings. However, the 'ss' command does not show anything for port 5432.

[2016-12-28 13:55] 500swapnil commented on #254
I would like to work on this one. How do I proceed?

[2016-12-28 14:08] fonfon commented on #692
Let's continue on #254

[2016-12-28 14:08] #692 closed

[2016-12-28 14:18] SunilMohanAdapa commented on #254
@500swapnil , the following could be done:
* Remove xmpp module.
* Add new module called `jsxc` (with code from xmpp module). This module should only deal with JSXC and nothing with ejabberd.
* Add new module called `ejabberd` (with code from xmpp module). This modules should only deal with ejabberd setup and nothing with JSXC.

[2016-12-28 16:22] nikhilrayaprolu commented on #684
@jvalleroy As the boilerplate is almost complete now I would like to discuss the design for solving this issue.
Initially I will be using this boilerplate templates as a blue print.In a python script , I will be asking the user for the module_name,module_title,module_description.
secondly the tags that need to be replaced in the blueprints will be named as `{{module_name}},{{module_title}},{{modul

[2016-12-28 16:37] jvalleroy commented on #684
@nikhilrayaprolu Ah did you see the comments I made at https://github.com/nikhilrayaprolu/plinthmodule-boilerplate/issues/1?

I think the 2nd approach will be a bit simpler. But either one is probably ok.

[2016-12-28 20:54] 500swapnil commented on #254
I have opened a PR #697 . Please have a look!

[2016-12-29 00:38] jvalleroy commented on #623
Fixed in #694.

[2016-12-29 00:38] #623 closed

[2016-12-30 17:46] jvalleroy opened #699 "Modules that support SSO-login should mention this"
XMPP, ikiwiki, and TT-RSS don't use their own account management, but allow users created through Plinth to login. We should mention this in the description of each module, perhaps with a link to the Users configuration.

[2016-12-31 01:16] mridulnagpal commented on #699
@jvalleroy I'd like to handle this

[2016-12-31 15:06] mrbiber opened #700 "Add Riot/Synapse (matrix.org support)"
It would be great if FreedomBox would include the [matrix.org](https://matrix.org) homeserver app [Synapse](https://github.com/matrix-org/synapse/) and the [Riot](https://riot.im) web client. Matrix.org is a decentralized real-time communications protocol, including voice and video chat, featuring end-to-end encryption and based on a completely Free Software stack. Riot is the most advanced client

[2016-12-31 16:06] jvalleroy commented on #700
In order to add this, we will first need to get the software packaged in Debian. There are .deb packages available, but not uploaded to Debian yet.

These links might be useful for anyone who wants to work on this:
RFP for synapse: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=830601
synapse packaging: https://github.com/matrix-org/package-synapse-debian
There are also a number of dependencies

[2017-01-03 12:49] fonfon commented on #447
I made a rough architecture draft to demonstrate and discuss the changes as a pull request:
https://github.com/fonfon/Plinth/pull/1

The proposed changes lie in between the `Apps` class you proposed, and djangos `AppConfig` and `App` pattern. I made more detailed comments in the pull request and in the code.

The pull request shows what the (draft) classes and API could look like, and how they are

[2017-01-03 14:28] JoKeyser opened #701 "mumble: Use letsencrypt certificate, if available"
The mumble server should use the Let's Encrypt certificate if it is available.
Currently, it uses a self-signed certificate (which isn't even visible in Plinth, so it's hard to check even manually).
Technically, it's merely necessary to 1) make the LE certificate and private key readable by the user `mumble-server`, and 2) adapting the configuration file `/etc/mumble-server.ini` accordingly.
See b

[2017-01-04 18:16] fonfon commented on #690
For clarification, you mean to be able to define for each app whether each existing user is allowed to login?
Or just define one group whose members are allowed to login to each app?

[2017-01-04 19:19] fonfon commented on #687
You can get the information about the version that would be installed like this:

    True

This information has to be provided by the [Help -> about view](../blob/master/plinth/modules/help/help.py), and can then be displayed in the [Help -> about template](../blob/master/plinth/modules/help/templates/help_about.html).

Bonus (optional):
I do not know how long `apt.Cache()` takes on a raspberry p

[2017-01-05 03:42] SunilMohanAdapa commented on #687
There was some discussion earlier about a notification system.  Such as raising a warning when disk space is running low, some urgent problem needs admin's attention.  If we implement this notification system, we could raise a notification event by running a background task and may not have to worry about the performance.

Showing in Help -> About could be a good start too.

[2017-01-05 03:53] SunilMohanAdapa commented on #690
@fonfon , I believe @mray is talking about the result to the end user and not specifically talking about how it should be done.

Having one group per app (or per group of related apps such as 'email', 'xmpp') then assigning users to the group will let one have all the flexibility one needs.  We should not have the concept of user being assigned to application:
- It keeps the permissions system sim

[2017-01-05 15:01] mray commented on #690
Right, I just want to create users independently on what they can access. This certainly raises what the default setting for enabeling new apps is. Enable by default? disable by default? Maybe ask after adding new apps?

I just want to be able to transparently limit the rights of users. Preferably with a conservative default where no access is granted unless decided otherwise.

[2017-01-06 10:23] Pk13055 commented on #701
I would like to work on this issue.

[2017-01-06 10:29] Pk13055 commented on #687
I am new to open source and would like to work on this issue.

[2017-01-07 00:09] jvalleroy commented on #434
Bind module was added in #693. It supports the following configuration:
- Enable/disable forwarding
- Enable/disable DNSSEC
- Set DNS forwarders

Feel free to open new issues to request any additional features, or for any problems that we find.

[2017-01-07 00:09] #434 closed

[2017-01-07 15:06] jvalleroy commented on #687
@Pk13055 Sure, let us know if you have any questions.

[2017-01-07 21:58] Pk13055 commented on #687
#702 I've made the required changes. Please review and tell me if this is the right way or there's some other way to do it?

[2017-01-08 02:52] jvalleroy opened #703 "ejabberd: Enable XEPs"
According to https://github.com/iNPUTmice/ComplianceTester, the following XEPs are not enabled in our ejabberd configuration, but should be:
- XEP-0237: Roster Versioning (mod_roster)
- XEP-0313: Message Archive Management (mod_mam)
- XEP-0363: HTTP File Upload (mod_http_upload)

(Also XEP-0357: Push Notifications, but that is not officially supported by ejabberd yet.)

[2017-01-08 20:56] jvalleroy commented on #676
Fixed in #678.

[2017-01-08 20:56] #676 closed

[2017-01-09 22:02] jvalleroy commented on #254
Fixed in #697.

[2017-01-09 22:02] #254 closed

[2017-01-10 06:23] 500swapnil commented on #220
@jvalleroy I would like to work on this one. How do I proceed?

[2017-01-10 10:55] jvalleroy commented on #220
@500swapnil Here's a list of tasks to get started:
* Move templates from the "apps" and "system" modules into plinth/templates.
* Move routes from apps and system modules into plinth/urls.py.
* Move views from apps and system modules into plinth/views.py.
* Rename things as needed so they don't conflict with existing items.
* Basic testing to check that nothing is broken.

[2017-01-10 15:50] KorakSilvercloud opened #704 "OpenVPN should allow access to internal network."
I have FreedomBox setup as a router. One NIC is WAN and another is my LAN. When connecting via OpenVPN I can access all the services on the freedombox but have no access to the rest of my network.

[2017-01-10 21:39] 500swapnil commented on #220
@jvalleroy I opened a PR #705 . Please have a look!

[2017-01-11 18:55] KorakSilvercloud opened #706 "The default settings for SSH access need hardening"
Currently the default settings create fairly big risk. SSH is exposed to the Internet on the default port 22. Root login is allowed, and there is nothing limiting log in attempts. I had mistakenly assumed that the firewall blocked remote connections and only allowed SSH from local network. Upon finding out it was exposed to the net I have checked my logs and found I am under a constant bruit force

[2017-01-12 05:46] SunilMohanAdapa commented on #447
I wasn't aware of the AppConfig class in Django. Your comparison of the two classes is quite apt and the central idea of the patch seems to be in the right direction.

Deriving from AppConfig it not a bad idea:
- Actually moving the application class into modules/module/apps.py has some advantages such as avoiding unnecessary import problems.
- If for some reason a developer has to create a Django

[2017-01-13 11:00] jvalleroy commented on #703
Ejabberd bug report: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=851212

mod_roster can be enabled by default in the Debian package. For the other two, we will need to understand the requirements and security/privacy implications.

[2017-01-13 11:14] mray commented on #703
Apart from finding sensible defaults: wouldn't it be worth exposing enabed XEPs to Plinth?

[2017-01-15 01:37] jvalleroy opened #707 "Check bind use with shared network connection"
When a network interface is configured with the "shared" addressing method, NetworkManager will start a dnsmasq instance for that connection, providing DHCP and DNS. However, if bind is enabled, we want to use that for DNS instead.

[2017-01-15 16:52] elvirolo commented on #627
Same problem here with plinth 0.12 and parted 3.2

[2017-01-15 16:53] elvirolo opened #708 "Add CUPS support"
It would be great to add CUPS/printing support to Freedombox in order to allow users to use networked printing using a Freedombox.

[2017-01-16 14:08] SunilMohanAdapa commented on #708
Is this to enable mobile devices etc. to be able to print to a network printer without having themselves having drivers?

[2017-01-16 23:37] mray commented on #617
I exported new less and css files with that tool, based on the "paper" theme.

[new-css-and-less.zip](https://github.com/freedombox/Plinth/files/709638/new-css-and-less.zip)

Can you have a look how it works if you just apply this style?

[2017-01-17 13:22] elvirolo commented on #708
If that's possible yes.

[2017-01-17 21:52] jvalleroy commented on #687
Fixed in #702. (Maybe the UI can be improved though -- right now it's just a line of text that gets displayed or not.)

[2017-01-17 21:52] #687 closed

[2017-01-18 23:37] jvalleroy opened #710 "infinoted improvements"
- [ ] Consider adding security features such as enforcing password or client certificates.
- [ ] Check if we can use Let's Encrypt certificates.

[2017-01-18 23:47] jvalleroy opened #711 "Eliminate extra reboot after running freedombox-setup"
- [x] slapd: Some ideas for eliminating this extra setup step are in https://github.com/freedombox/Plinth/pull/709.
- [x] firewalld: Firewalld configuration can be done during setup. If the setup is happening inside a chroot environment, then firewalld-offline-cmd could be used instead of firewalld-cmd. Also most of the port opening done in this script are no long required due to the way modules a

[2017-01-19 02:40] jvalleroy opened #712 "jsxc: Broken links to JS/CSS files"
https://github.com/freedombox/Plinth/blob/master/static/jslicense.html
The xmpp module was removed, and so jsxc-plinth.js is now in the jsxc module. Need to update the links on this page.

[2017-01-19 02:42] jvalleroy opened #713 "Pictures in html manual are too small"
The pictures look fine on the wiki, but when shown as html manual in Plinth, they are much smaller.

[2017-01-19 02:52] jvalleroy commented on #712
Also some links in the JSXC web client page template:
https://github.com/freedombox/Plinth/blob/master/plinth/modules/jsxc/templates/jsxc_launch.html#L59
Need to be switched from xmpp module to jsxc module.

[2017-01-19 02:57] jvalleroy opened #714 "Update setup.py to install new first-run script"
Currently it only installs 90_firewall, not the entire folder. Sorry I missed this in my pull request.

[2017-01-19 03:21] SunilMohanAdapa commented on #711
I have added ideas for some more scripts.  We can think of one for networking by trying to modify auto-configuring behaviour according to FreedomBox needs.

[2017-01-19 10:32] mray commented on #708
What would be a [user story](https://en.wikipedia.org/wiki/User_story#Examples) for that case?

[2017-01-19 10:35] mray commented on #687
A missing text info is hard to spot. Can't the indication always be there?

[2017-01-19 11:41] jvalleroy commented on #687
@mray Yes, I think we should open a new issue to collect ideas for improvements to this feature.

[2017-01-20 01:48] MarkoMackic commented on #712
Can I do it ?

[2017-01-20 02:48] jvalleroy opened #719 "wiki logo missing from front page"
I built a plinth package from this tag:
https://github.com/jvalleroy/Plinth/tree/v0.13.0test
(same as my update-setup.py branch)

And I built a virtualbox image including that package. After installing ikiwiki and creating a wiki, the front page shows a missing icon for the wiki. From the page source it is looking for /plinth/static/theme/icons/glyphicon-edit.png (should be ikiwiki.png instead). I

[2017-01-20 03:09] jvalleroy opened #720 "infinoted: Should have a line break in shortcut label on front page"
To match the other shortcuts and keep the height constant for even rows.

[2017-01-20 03:16] jvalleroy commented on #719
Also reproducible in vagrant.

[2017-01-20 10:30] SunilMohanAdapa commented on #712
First part of the bug was fixed by @MarkoMackic in #717 . Second part is pending in #718 .

[2017-01-20 11:07] SunilMohanAdapa commented on #712
#718 has been merged and that should fix this issue completely. Thanks to @MarkoMackic .

[2017-01-20 11:07] #712 closed

[2017-01-20 11:14] SunilMohanAdapa opened #721 "shaarli: Frontpage icon missing"
When Shaarli app is enabled, the frontpage contains a shortcut to launch Shaarli. Icon for this shortcut is missing. This is due missing icon: static/themes/default/shaarli.png.  Fetch, edit dimensions, and add this icon along with proper license entry in LICENSE file.

[2017-01-20 13:28] MarkoMackic opened #723 "Problem setting dev environment"
I read `HACKING` and wanted to install dev environment
My system is : `Ubuntu 16.04.1 LTS`
I installed vagrant and virtualbox
`vagrant is already the newest version (1.8.1+dfsg-1).`
`virtualbox is already the newest version (5.0.24-dfsg-0ubuntu1.16.04.1).`

and if I go `vagrant up` my machine boots to ssh (looking at gui) but at vagrant
it doesn't go further until `Cable connected` is marked manua

[2017-01-20 22:43] jvalleroy commented on #714
Fixed in #716.

[2017-01-20 22:43] #714 closed

[2017-01-20 22:55] #719 closed

[2017-01-20 23:01] jvalleroy commented on #723
I think this is due to the xmpp module that was removed. But the vagrant provisioning doesn't handle these updates. Please try the following:
[code]
The issue will be fixed when we build and upload a new vagrant image with plinth v0.13.

[2017-01-20 23:33] MarkoMackic commented on #723
Yeah, that solved it

[2017-01-20 23:34] #723 closed

[2017-01-20 23:58] MarkoMackic commented on #721
I think that's not only icon missing, infinoted shorcut icon is missing too, and referecing #720 is this `Gobby Server (infinoted)` label, because paragraph elements are displayed block by default I think, so they have line brake at the end.
![Picture](https://cloud.githubusercontent.com/assets/7548838/22169440/5484ad9c-df74-11e6-88d8-48ce4ea8b56c.png)

[2017-01-21 00:01] MarkoMackic commented on #721
Second question is what should be dimensions of icon, I  could fix this issue.

[2017-01-21 01:02] jvalleroy commented on #721
@MarkoMackic Regarding the other icons such as infinoted not appearing, this is an issue that I see in vagrant but not in the released images. It's due to "setup.py install" which doesn't reinstall folders that already exist. A workaround for vagrant is to delete /usr/share/plinth/static and then re-run "vagrant provision".

[2017-01-21 01:12] jvalleroy opened #724 "vagrant: Force re-install of existing folders"
When "vagrant provision" is run, it uses "setup.py install" to install the latest development branch of Plinth in the vagrant box. However, "setup.py install" doesn't install over existing folders such as /usr/share/plinth, which contains actions and static files. This can lead to missing files when trying to test Plinth.

Investigate if we can force setup.py to overwrite the existing files.

[2017-01-21 02:59] MarkoMackic commented on #724
How to test does it work, can I edit `setup.py` and run `vagrant provision` ?

[2017-01-21 03:16] jvalleroy commented on #724
@MarkoMackic Yes, vagrant provision will run the provision script from Vagrantfile, which includes "setup.py install":
https://github.com/freedombox/Plinth/blob/master/Vagrantfile#L22

[2017-01-21 04:37] MarkoMackic commented on #720
I'm planning to solve this today, can you be a bit more precise. How can I reproduce bug and what is a shorcut label

[2017-01-21 13:40] jvalleroy commented on #720
@MarkoMackic If you check other apps on the frontpage, such as mumble, there's a newline character in its title. This is ignored on the normal app page, but is used on the frontpage.

To reproduce the bug, try enabling several apps that have front page shortcuts. (You may also need to maximize your browser window and zoom out the page.)

[2017-01-21 14:27] jvalleroy commented on #720
The shortcut label is the text shown under the logo on the front page. It is taken from the module's ```title``` variable.
For infinoted: https://github.com/freedombox/Plinth/blob/master/plinth/modules/infinoted/__init__.py#L44
For mumble: https://github.com/freedombox/Plinth/blob/master/plinth/modules/mumble/__init__.py#L37

[2017-01-21 16:41] MarkoMackic commented on #720
Cool, I'll fix it today

[2017-01-22 02:09] mray opened #726 "Pagekite"
Isn't pagekite actually a module that is supposed to be an app?
It only enables a feature bound to using a certain provider.

Are there some guidelines that could clear that uncertainty?

[2017-01-22 16:22] jvalleroy commented on #726
I believe the difference was intended to be how the app is used:
- Apps: Web apps, and services that users actively connect to and use
- System: Things that only need to be setup once and not touched again
Probably Tor should be moved under System using this definition.

[2017-01-22 16:31] mray commented on #726
I think this distinction is problematic. Ideally I don't want to ever touch my calendar or jabber server again, either. I'd like to just use my local clients and be happy.

Is there any documentation about this kind of categorization in FreedomBox?

[2017-01-22 16:49] jvalleroy commented on #726
There was a comment on this pull request: https://github.com/freedombox/Plinth/pull/483#issuecomment-224300024
But I think it's not formally documented anywhere.

[2017-01-23 22:00] elvirolo commented on #708
I use freedombox during meetings about random projects as a central hotpot to provide tools for collaborative work. People sometimes need to print documents during such meetings. It would be great if freedombox provided a app allowing to install a CUPS server (and open the appropriate ports in the firewall) in order to achieve this easily and quickly.

[2017-01-23 23:02] jvalleroy commented on #706
Just to check, by root login, do you mean login by root user? Or login by user with sudo privileges (who can then become root)?

[2017-01-24 14:31] KorakSilvercloud commented on #706
By root login I mean directly ssh in as root. Really if this project is intended for non-technical users then SSH should not be exposed to the internet in any form. I was lucky that I had selected a strong password.

[2017-01-24 14:47] jvalleroy commented on #706
@KorakSilvercloud Are you using a pre-built image, or did you set up FreedomBox on an already installed Debian system?

[2017-01-24 15:14] KorakSilvercloud commented on #706
I did a clean install of Debian and then followed directions to setup FreedomBox.

[2017-01-24 15:22] jvalleroy commented on #706
@KorakSilvercloud Ok, it looks like this is actually the default configuration for openssh-server package.

https://sources.debian.net/src/openssh/1:7.4p1-6/debian/openssh-server.templates/
https://sources.debian.net/src/openssh/1:7.4p1-6/debian/openssh-server.postinst/

There's a debconf configuration named "permit-root-login", with description "Disable SSH password authentication for root?". It'

[2017-01-24 17:00] KorakSilvercloud commented on #706
Yes, the default openssh-server configuration is I think meant more for internal servers. It is not what you want to expose to the internet.

Disabling root login I would consider a must as root is by far the most attacked login. I would also say having something like fail2ban would be necessary if you plan on keeping this exposed on the WAN side. Really I would say by default SSH should be LAN on

[2017-01-25 07:22] SunilMohanAdapa commented on #706
On Tuesday 24 January 2017 10:30 PM, KorakSilvercloud wrote:

We should have fail2ban by default.  The default configuration nicely
works for SSH without any modifications.  All we need to do is add this
as a dependency for our security module.  In future, we can also ship
fail2ban configuration for Plinth so that Plinth logins are also
controlled by fail2ban.

Note that as it stands, although roo

[2017-01-25 11:17] jvalleroy commented on #706
On 01/25/2017 02:22 AM, Sunil Mohan Adapa wrote:

I think you are referring to the root password being disabled in our
images. But for someone following
https://wiki.debian.org/FreedomBox/Hardware/Debian, they may or may not
have set a root password during Debian install.

[2017-01-25 15:46] KorakSilvercloud commented on #706
I guess I still just question, is there a solid and valid reason why you would keep SSH enabled on the WAN side?

The impression I kept getting from people is that this project is supposed to be building a system for non-technical people. If that is the case then your users are not exactly the type to ever use SSH, they certainly are not the type to be doing remote SSH connections. Exposing this t

[2017-01-26 17:44] jvalleroy commented on #724
Fixed in #725.

[2017-01-26 17:44] #724 closed

[2017-01-26 17:44] jvalleroy commented on #721
Fixed in #725.

[2017-01-26 17:44] #721 closed

[2017-01-26 20:18] MarkoMackic commented on #720
Haven't I fixed this in #725 ?

[2017-01-26 20:20] MarkoMackic commented on #713
I can do this. Just introduce me to the source of problem a bit, and how to test.

[2017-01-26 20:28] jvalleroy commented on #720
Yep I missed this one, closing.

[2017-01-26 20:28] #720 closed

[2017-01-26 20:36] jvalleroy commented on #713
@MarkoMackic You can test in vagrant: "vagrant provision" should build and install the manual, which you can view in the Help menu in Plinth.

You can also run "make -C doc" to build the manual locally.

I don't really know the source of the problem. On the wiki, we usually set a width parameter for images so they aren't too large. Plinth fetches the pages from the wiki and converts it to HTML. Wh

[2017-01-26 21:14] MarkoMackic commented on #713
Should all images consume full width of the browser ?

[2017-01-26 22:35] jvalleroy commented on #713
@MarkoMackic They don't all necessarily need to be full width (that might look strange for some images that are already cropped). Just enough to be readable.

We do have some post-processing done using XSLT:
https://github.com/freedombox/Plinth/blob/master/doc/fixes.xslt

[2017-01-29 16:07] mray opened #727 "wiki recommendation link broken"
On the [wiki](https://wiki.debian.org/FreedomBox/QuestionsAndAnswers#Which_single_board_computer_.28SBC.29_do_you_recommend.3F) the last link to [APU / ALIX](http://www.pcengines.ch/order.php) is broken. not sure where it should link to instead.

[2017-01-29 16:18] mray opened #728 "clear "Recommended Hardware" confusion"
The current list on the wiki [mentions 4 different sets of hardware](https://wiki.debian.org/FreedomBox/QuestionsAndAnswers#Which_single_board_computer_.28SBC.29_do_you_recommend.3F) that we recommend. Unfortunately this is very unspecific.

 1. Which one would run FreedomBox here? Or all of them?
![selection_034](https://cloud.githubusercontent.com/assets/164785/22405606/ab18a7b2-e645-11e6-8fa2-3

[2017-01-30 12:31] SunilMohanAdapa commented on #727
I updated it to the correct page now http://www.pcengines.ch/order.htm . Thank your for reporting.

[2017-01-30 12:31] #727 closed

[2017-01-30 14:05] mray commented on #728
the [hardware](https://wiki.debian.org/FreedomBox/Hardware) section of the wiki even adds to the
confusion:

- virtualbox and debian are listed as hardware?
- it features different hardware than the FAQ?
- i noticed that there is a HUGE!! downside of hosting this page on debain wiki, as it has it own frontpage that links to [hardware](https://wiki.debian.org/Hardware)

![image](https://cloud.githu

[2017-02-01 17:19] tonghuix opened #729 "[Feature Suggestion] Add Shadowsocks-libev"
Shadowsocks is a lightweight fast tunnel proxy that helps you bypass firewalls (some censorship devices), it can be a proxy before connecting Tor.

I suggest we add Shadowsocks-libev which is written in C and lightweight shadowsocks "server-client". It can be install from apt-get and only a small config file needed.

[2017-02-02 14:27] pranithkumar opened #730 "Plinth login error"
500
This is an internal error and not something you caused or can fix. Please report the error on the bug tracker so we can fix it. Also, please attach the status log to the bug report.

[2017-02-02 15:36] jvalleroy commented on #730
@pranithkumar The "status log" should link to a page with the actual log. Could you share that log (after removing any personal info)?

[2017-02-03 06:25] pranithkumar commented on #730
It is a remote server and I am not able to access it through ssh even with the correct password.(Error:Permission denied)

[2017-02-03 14:01] jvalleroy commented on #730
@pranithkumar On which page in Plinth did you get the 500 error? Is it reproducible?

[2017-02-03 20:57] MarkoMackic commented on #713
I was busy these days. I should solve this tomorrow.

[2017-02-04 12:33] jvalleroy opened #731 "Pagekite is shown in Name Services even if not installed/setup"
Currently there is an inconsistency on the Name Services page with Tor & Pagekite not installed:
- Tor Hidden Service isn't shown on the page.
- Pagekite is shown with a "Not Available" entry.

Should we not show Pagekite until the module has completed setup?

[2017-02-04 12:49] jvalleroy commented on #512
Fixed in #512.

[2017-02-04 12:49] #512 closed

[2017-02-08 05:23] lispyclouds opened #732 "Plinth service does not start on vagrant box"
Currently the vagrant box that is uploaded on Hashicorp Atlas cannot start the plinth service as the **/etc/plinth/modules-enabled/xmpp** file exists and if the latest code is run from the box the service start fails.

Solution is to remove the file and rebuild the vagrant box.

[2017-02-08 15:15] jvalleroy commented on #732
We need to merge this pull request on freedom-maker:
https://github.com/freedombox/freedom-maker/pull/84
And then build and upload a new vagrant box.

[2017-02-09 19:13] pranithkumar commented on #730
The problem is solved.There was no space left on the disk and therefore was not able to login to plinth.I logged into the server and expanded the disk space and the problem was solved.

[2017-02-09 19:13] #730 closed

[2017-02-12 02:05] tonghuix opened #734 "[Feature Suggest] Add 'help' link for each module page"
It would be good that add a 'help' link at each module page. When I install and start Pagekite, something I don't know and it not working, so I have to find documents for that, finally I discovered the inner manual. So could you please add a 'help' link for each module and point it to inner manual page for each module to help people find useful document easier and faster.

[2017-02-13 07:39] JosephKiranBabu opened #735 "Plinth interface for jsxc is fixed on Firefox for Android"
Cannot scroll horizontally on Firefox browser for Android to view the chats on the menu on the right.
User is fixed on the login/logout part in the center. See the attached image.

![screenshot feb 13 2017 1_04_59 pm](https://cloud.githubusercontent.com/assets/4830191/22874695/936d019a-f1ed-11e6-9611-a5aa37773a43.png)

[2017-02-13 15:53] SunilMohanAdapa opened #737 "Have better strength for Letsencrypt certificates"
Explore better algorithm/strength for letsencrypt certificates such as RSA 4096 and make that the default.

Consider additional burden on CPU, browser compatibility etc.

[2017-02-13 16:03] tonghuix commented on #737
I suggest we could support ECDSA for better security but less system resource cost.  RSA 4096 cost too much browser and CPU for certification.

Ref info: https://wiki.mozilla.org/Security/Server_Side_TLS

[2017-02-13 17:36] diederikdehaas commented on #737
Do you have a reference which supports that claim? I'm using 4096 everywhere and I haven't noticed a problem.
The only thing that really took a long time was generating a dhparams-4096.pem file on a Raspberry Pi 2, but that's a 1-time operation.

[2017-02-14 02:54] tonghuix commented on #737
dhparams-4096 is not same as RSA 4096.

https://securitypitfalls.wordpress.com/2014/10/06/rsa-and-ecdsa-performance/

https://koclab.cs.ucsb.edu/teaching/ecc/project/2015Projects/Levy.pdf

[2017-02-14 08:52] mray commented on #609
[OMEMO](https://en.wikipedia.org/wiki/OMEMO) encryption is working fine in [Conversations](https://github.com/siacs/Conversations) and [Gajim](https://gajim.org/)  btw.

[2017-02-14 08:57] mray commented on #433
Is https://maidsafe.net/ eventually an option, too?

[2017-02-14 10:06] mray opened #739 "New Card based UI"
As proposed in #666 Plinth needs a more usability focused UI. I propose the following cards based approach. Cards are usable on any device, provide flexibility in terms of what they "hold" and represent apps / modules in a simple, consistent form.

I separated 5 main layouts that should cover almost every scenario in Plinth:
* home screen *(when not logged in yet)*
* apps *(overview of apps)*
* co

[2017-02-14 14:37] fonfon commented on #739
The popups and tabs can not be implemented without javascript. The aim is that Plinth should be fully usable with JavaScript disabled, so currently we use only very limited and optional JavaScript functionality, taking care of users that disabled it. If we stick to that we could implement the app popup in a standalone plinth page instead, as it's done right now - the rest of the layout is not affe

[2017-02-14 19:29] mray commented on #739
### @ javascript contraint:
My understanding is that by default, javascript is to be "avoided". Exceptions need to be licensed and marked correctly. Those uses would not qualify as *bloat* in any sense and I think licensing isn't an issue either.
@jvalleroy and @SunilMohanAdapa : it would be important to clear this point early. @fonfon, thanks for bringing this up!

Yes this will dissappear. It is

[2017-02-14 19:38] jvalleroy commented on #739
@mray I think the most important thing is that we have a fallback. In case javascript is disabled or not supported, Plinth should still be usable/functional (although it may be a less polished experience).

[2017-02-15 09:16] mray commented on #739
For usability reasons I'd argue to keep the context of the overview and have the modal pop up disaplyed "over" it. If for technical reasons this isn't possible with a obligatory fallback the pop ups would have to displayed over an empty space I guess. The UI concept in general would still work.

[2017-02-20 02:40] jvalleroy commented on #426
Fixed in  #733.

[2017-02-20 02:40] #426 closed

[2017-02-24 10:08] mray opened #740 "enable ejabberd OMEMO encryption in groupchat"
I can't use OMEMO in groupchats on my FreedomBox.
When creating a groupchat on my freedombox Server with my android app [conversations](https://conversations.im/) it reports inside the groupchat:

XEP-0313: MAM    --->    no

My guess is that [XEP-0313](https://xmpp.org/extensions/attic/xep-0313-0.2.html) is required but not enabled on FreedomBox.

[2017-02-24 14:38] tonghuix commented on #740
I suggest using Prosody instead of ejabberd. It's much easier for configuring and has the basic security support out-of-box.

[2017-02-27 11:50] pranithkumar opened #741 "Plinth redirecting to same page"
The plinth interface was working fine until I obtained the let's encrypt certificate.After I obtained the let's encrypt certificate the plinth page is not loading. It says that the page is redirecting to itself.
Any help?

[2017-03-02 10:14] chaitumuppala opened #742 "Open VPN - Internet is not working"
While connecting to my home network though openvpn of freedombox, I am able to connect to the home network but unable to access any site on the internet.

[2017-03-03 12:00] mray commented on #433
Then there is [storj.io](https://storj.io). Maybe interesting?

We really need to tackle backup. The more people start relying on us we need to be reliable. We just cant ask people to deal with backups manually, knowing how they handle their own desktop stuff.

[lbry.io](https://lbry.io/) and [IPFS](https://ipfs.io/) are worth knowing, too but don't seem to fit our usecase.

[2017-03-03 15:25] mray opened #744 "ejabberd just breaks"
I can't get my ejabberd instance running anymore.

1. I shut down FreedomBox to remove the SDcard from my raspi
2. I made a backup in form of a disk image copy
3. I reinserted the SDcard and rebooted
4. FreedomBox seems to run fine but jabber clients refuse to log in
5. Looking at plinth I see ejabberd isn't installed anymore.
6. As sometimes things *appear* to not be present I just try "installin

[2017-03-03 22:23] mray commented on #744
Trying `sudo apt-get update` via ssh stops at 0% like this:
```0% [Connecting to SOCKS5h proxy (socks5h://localhost:9050)]```

[2017-03-04 09:14] mray commented on #744
I tried disabeling tor since ```the tor+http``` part seemed strange to me.
The Tor app complained about needing an update, so I updated it and it says the same thing again:
[code]

I want to chat again! :'(

[2017-03-04 09:28] mray commented on #744
I now notice that the initial ssh command didn't stop but went on:

[code]

[2017-03-04 16:37] jvalleroy opened #745 "Apt mirror selection"
I think we will need some way in Plinth to modify or select the apt mirror.

[2017-03-04 16:43] jvalleroy commented on #744
@mray For now, I think you will need to edit /etc/apt/sources.list, and remove the "tor+" part from each URL listed.

I created an issue #745 for providing a way to set the apt mirror in Plinth.

Regarding the Tor module upgrade, if we finish the tasks in #412, then module upgrades will be automatic, and at least we can notify the user if it fails.

I'm not sure about the other issues currently (e

[2017-03-04 20:54] mray opened #746 "add restart / shut down warnings"
As long any anupdate is being performed the user should be notified about that explicitly on the interface that reboots or shuts down.

[2017-03-04 21:56] mray commented on #744
* I removed the "tor+" part and updated my sources.
* I then *installed* ejabberd again but it says it was not running  despite being enabled
* running diagnostics shows:
![image](https://cloud.githubusercontent.com/assets/164785/23582140/18a16b7c-0124-11e7-95a5-921d8b136600.png)
* I restarted; now the app is installed, enabled *AND* running - but I still can't log in to my jabber accounts

My use

[2017-03-05 00:56] mray commented on #744
I can now use my jabber server as expected again. Not sure why though.
I disabled "Download software packages over Tor" in the tor module, waited and rebooted for a few times. Strange. I'd really like to know what caused that whole issue.
Anyhow, closing the issue again.

[2017-03-05 00:56] #744 closed

[2017-03-05 10:12] mray opened #747 "installing Gobby fails"
```Error installing application: ('infinoted', "Adding group `infinoted' (GID 123) ...\nDone.\nAdding system user `infinoted' (UID 120) ...\nAdding new user `infinoted' (UID 120) with group `infinoted' ...\nCreating home directory `/var/lib/infinoted' ...\n", '[Sun Mar 5 10:07:46 2017] INFO: Generating 4096 bit RSA private key...\n[Sun Mar 5 10:08:15 2017] INFO: Generating self-signed certificate.

[2017-03-05 16:20] jvalleroy commented on #747
It looks like there was a timeout while trying to restart the service. We will need to increase the timeouts to avoid this error. The timeout is currently not specified in infinoted's service file, so it's just the default.

What hardware are you using? Do you get the same error again if you try the Install again?

[2017-03-05 16:59] mray commented on #747
- I'm running FreedomBox from a Raspberry Pi (first generation).
- just hitting the "install" button again worked this time
- unfortunately it now shows as being installed but not running for some reason
![image](https://cloud.githubusercontent.com/assets/164785/23589403/9b5c4e12-01cc-11e7-97c5-d64f7ab191c2.png)
- I then disabled and enabled again, still not running
- diagnostics shows this:
![ima

[2017-03-05 17:53] jvalleroy opened #748 "500 error on Firewall page"
On Plinth version 0.13.1. It looks like firewalld is not running for some reason, I will investigate that further. But anyway, the Firewall page shows a 500 error, here is the log:
[code]

[2017-03-06 14:25] Marauderer97 commented on #739
Hello, I am new to freedombox, and am interested in working on this idea. As a start, I had been asked to try changing the top bar alone.
Here are the screenshots of how it looks now:
![image](https://cloud.githubusercontent.com/assets/20185076/23613729/a77b65ae-02a6-11e7-8a64-cc67487779ca.png)

![image](https://cloud.githubusercontent.com/assets/20185076/23613645/56ba6480-02a6-11e7-9f27-04eaa1395

[2017-03-06 15:18] mray opened #749 "Implement Card based UI"
Here are things that pop into my head in no particular order:

- [ ] use "material"-like theme as start
- [ ] make sure interface is "touch" - proof
- [ ] have a working responsive version
- [ ] package and use the font "Lato"  #316
- [ ] apply color palette from [design manual](https://github.com/freedombox/Plinth/blob/master/static/themes/default/FreedomBox-Identity-Manual.pdf)
- [ ] restructure

[2017-03-06 15:19] mray commented on #739
Awesome! Great to see somebody picking this up already. I opened a [new issue](#749) for implementing this. Better discuss only the sketches & UI proposals in here.

[2017-03-06 15:19] SunilMohanAdapa commented on #433
(I have not evaluated the above options)

My understanding of how we should do backup is to have strong, reliable and capable backup engine and having a distributed storage backend like Tahoe-LAFS (or if possible IPFS and others). The backup system should have the following functionality:
- Backup database like PostgreSQL, MySQL and sqlite3 (copying files is not enough)
- Incremental backup capabi

[2017-03-06 15:22] SunilMohanAdapa commented on #739
@Marauderer97 , moving the discussion to #749.

[2017-03-06 15:25] SunilMohanAdapa commented on #749
@Marauderer97 , I believe the comic font was only meant to indicate the rough nature of the design.  Please keep the current font until we switch to a proper font as described in #316.  Please keep the help icon (until there is a better design for it).

[2017-03-06 15:27] SunilMohanAdapa commented on #739
@mray:  @Marauderer97 is the potential Outreachy candidate who wishes to work on this project.

[2017-03-06 16:53] jvalleroy commented on #433
@SunilMohanAdapa Do you perhaps want to back up the entire disk then? (Maybe using Btrfs snapshots where available.)

Or, do we want each module to provide backup() and restore() functions? Then each module is responsible for locating it's own content to be included in the backup.

[2017-03-06 17:29] Marauderer97 commented on #749
@mray Thank you! Will keep it all in mind, as I go about redesigning the UI. :smile:
@SunilMohanAdapa I changed the font back to the original one, this is how the bar looks now:
![image](https://cloud.githubusercontent.com/assets/20185076/23621328/3fcfd1e6-02c0-11e7-9675-69e08daa3690.png)
What can I do next?

[2017-03-06 19:49] mray commented on #433
Thinking user story: What would a possible case look like in practice?
I see how we need to deal with ultimate failures like:
"A technically unskilled person accidentally feeds the SDcard containing FreedomBox to the dog."

What would the next steps for a user be in order to regain control of the data?

[2017-03-07 02:04] SunilMohanAdapa commented on #749
@Marauderer97 , Please create a pull request for your change.

[2017-03-07 02:21] SunilMohanAdapa commented on #433
On 03/06/2017 10:23 PM, James Valleroy wrote:

This is a good idea worth exploring further.  Some quick points come to
mind.

+ Consistent backup for all applications
+ Simple to implement both backup and restore operations
+ Will be consistent when backing up online ACID compliant databases
such as MySQL, MariaDB, PostgreSQL, Sqlite and BerkelyDB.
+ Configuration is also backed up
+ Consistency w

[2017-03-07 08:39] mray commented on #433
As long as created backups depend on having close to identical hardware we don't really cover up hardware failure itself. If it is a low hanging fruit and we communicate that flaw I think it is good to have, though.

My personal expectation would be a backup that is robust enough to even switch hardware seamlessly - and easy to use / set up.

[2017-03-07 18:25] Diet-mar commented on #433
Talking about use cases. I see:
- the above mentioned total loss of the SD-card: full restoring system and data
- ruining one application's data: restore data of one application only
- migration to new hardware: put data only to new hardware (NB: no system data!)

[2017-03-09 07:21] SunilMohanAdapa commented on #741
@pranithkumar , I got access into the server and fixed the issue.  Here is an analysis:

It turns out that both mod_ssl and mod_gnutls were enabled on this machine.  This is due to machine being upgraded from a much older FreedomBox version.   The version we switched to gnutls is 0.6. At that point were not supporting upgrades from one version to another version.  If we had done this in a more rec

[2017-03-09 07:21] #741 closed

[2017-03-09 15:09] Marauderer97 commented on #749
@SunilMohanAdapa done. :+1:

[2017-03-09 15:54] Marauderer97 commented on #749
I am trying to replicate the design of the homepage as specified in this image:
![image](https://cloud.githubusercontent.com/assets/20185076/23757837/e6ce52b6-050d-11e7-922e-7fa93cc8a325.png)
which  will involve slight modification of the lower half of the page?
@SunilMohanAdapa Shall I go ahead?

[2017-03-09 16:12] mray commented on #749
@Marauderer97 I assume you are working with the default boostrap theme. Maybe it makes sense to also tackle #617 before creating new UI elements. Just a thought.

[2017-03-09 19:59] Marauderer97 commented on #749
@mray Thanks for the suggestion!
I followed the discussion on the issue #617, but am not sure on what is the best way to override the twitter bootstrap, shall i create a bootstrap-customize.css or should i try the customize tool of bootstrap? Is there an even better way I can follow?

[2017-03-09 20:36] mray commented on #749
The best solution probably is to replace/change the original less or sass files. But as we currently don't seem to preprocess css in plinth – so it might be best to override with plain css files that are in my [zip file](https://github.com/freedombox/Plinth/files/709638/new-css-and-less.zip).
You can give it a try!

The cleanest way would probably to get a sass compiler, but afair @SunilMohanAdapa

[2017-03-10 11:11] mray commented on #740
Are there any ongoing efforts in that direction already?
I'm almost neutral to what service runs in the background - just having encypted groupchat would be great.

[2017-03-10 11:11] Marauderer97 commented on #749
@mray I agree, handling the css changes in the beginning will be beneficial. I will make a PR with the modifications in the css, once we finalise whether or not we compile with sass.
Also this is how the Home page looks now, any suggestions/comments?
![image](https://cloud.githubusercontent.com/assets/20185076/23793269/6112c83e-05b0-11e7-9924-c67b5233f8ef.png)

[2017-03-10 11:36] mray commented on #749
Not sure how detailed the feedback needs to be at this stage so I give you all I have:

 * The Home page lacks the [panels](https://getbootstrap.com/components/#panels), which I referred to as "Cards". It is important to generally connect apps to the physical concept of cards via the visual cue. It should be like you can almost touch each app, whether disabled, enabled or on the front page.

* the

[2017-03-11 11:43] Marauderer97 commented on #749
@mray Thanks for your feedback!

The Home page lacks the panels <https://getbootstrap.com/components/#panels>,

 Yes I realize this, for now I am only looking to change the footer and the
links like your design suggested. I am trying to get used to the project
and the community with small contributions initially.

I will work on the center-alignment and the logo size like you said.

Yes, I have ma

[2017-03-11 12:50] Marauderer97 commented on #749
@mray I tried incorporating your suggestions.. does it look alright?
![image](https://cloud.githubusercontent.com/assets/20185076/23823380/4eff4988-0687-11e7-82b3-0297e69f3fc7.png)

[2017-03-11 13:09] mray commented on #749
Great! Looks much better, but a with logos there is an important thing from a design point of view: Keep the aspect ratio of images 1:1. The FreedomBox logo is too narrow.

[2017-03-11 13:12] mray commented on #749
Oh, and "IRC Chatroom" misses a space.

[2017-03-11 13:18] mray opened #752 "front page exposing unnecessary help pages"
maybe another point for #594 is:

- [] do not expose help pages, manual and about information

It seems an unnecessary attack surface and reveals the exact version number of FreedomBox.

[2017-03-11 13:57] Marauderer97 commented on #749
@mray What link should IRC Chatroom redirect to?

[2017-03-11 15:34] jvalleroy opened #753 "Add Debian badge"
Add badges for plinth package from https://badges.debian.net/ to readme.

[2017-03-11 15:56] mray commented on #749
maybe this is a good link: http://webchat.freenode.net?randomnick=1&channels=%23freedombox&uio=MTE9MjA16a

[2017-03-11 16:00] mray commented on #749
oops no. that is actually the wrong room. is there a web ui for our room?

[2017-03-11 16:06] jvalleroy commented on #749
We can use this link: https://webchat.oftc.net/?randomnick=1&channels=freedombox&prompt=1

[2017-03-11 19:07] Marauderer97 commented on #749
@mray Done! :smile:
![image](https://cloud.githubusercontent.com/assets/20185076/23826143/f62681b6-06bb-11e7-93a5-f7bc35c0b3d9.png)
Should I make a PR?

[2017-03-11 20:44] mray commented on #749
looks good!

[2017-03-11 21:47] mray opened #754 "Make FreedomBox reachable from the outside world"
### Problem
By default FreedomBox can't provide any features that require a connection from the "internet" back to your FreedomBox at home behind a router. The solutions we currently offer are not fit for a recommended default or an auto-set-up. Its drawbacks are:

#### 1. DynDNS

* DynDNS relies on a third party
 *can be expensive or unreliable - all services depend 100% on it*

* DynDNS is hard

[2017-03-12 16:59] mray commented on #754
[Larry on blockstack.org](https://forum.blockstack.org/t/blockstack-as-dns-for-freedombox/818) says:

[2017-03-12 17:08] jvalleroy commented on #754
Currently Pagekite only supports some protocols like HTTP(S) and SSH. XMPP is on the todo list (https://github.com/pagekite/PyPagekite/blob/5ec33172d4025020b555b5a77c234498bf11499e/TODO.md). I'm not sure if other services (like mumble) are possible to support.